/* CSS Document */
/*营销导航*/
body{ background:#fff; font-family:"微软雅黑";}
.yxdh{ width:100%; line-height:80px; text-align:center; position:relative; font-family:"ruixiantopheiheavygb"; color:#ff6300; font-size:1.6rem;}
.yxdh .yxdh_img{ position:absolute;width:25px; height:25px; top:0px; right:10px;}
.yxdh .yxdh_img img{width:100%;}
.yx_nav{ width:100%; min-height:80px; height:auto; overflow:hidden; margin-top:20px;}
.yx_nav ul li{ width:22%; float:left; text-align:center; margin:0 1.5%;}
.yx_nav ul li img{ width:45px; margin-bottom: -10px;}
.yx_nav ul li a{ line-height:30px; font-size:13px; color:#999; clear:both;}
.zjjr{ width:100%; min-height:50px; height: auto; overflow:hidden; background:#f1f1f1;clear:both; margin:15px auto 0; padding-bottom:10px;}
.zjjr ul.ul_a{ width:100%; float:left; margin-left: 10px;}
.zjjr ul li{ font-size: 14px; width:23%; height:30px; line-height:30px; float:left; text-align:center; background:#fff;overflow: hidden;border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; margin:10px 2% 0 0px;}
.zjjr ul li a{ color:#818181;}
.zjjr .zjjr_r{width:10%; float:right;}
.zjjr .zjjr_r img{ width:18px; margin-top:20px; margin-left:10px;}
.display{ display:none;}
.jr_logo{width:100%; min-height:200px; height:auto; overflow:hidden; margin:0 auto; background:#f1f1f1;}
.logo_con{ width:100%; min-height:100px; height:auto; overflow:hidden; }
.logo_con p.p_bt{ line-height:50px; color:#ff6400; padding-left:20px; font-size:1.1rem;}
.logo_con ul.logo_ul{ width:100%; text-align:center;}
.logo_con ul.logo_ul li{width:24.5%; float:left; border-top:2px solid #f1f1f1; border-right:2px solid #f1f1f1;}
.logo_con ul.logo_ul li img{ width:100%;}
.logo_con ul.logo_ul li.li_r{ border-right:none;}
.logo_con ul.zixun{ width:100%;text-align:center;}
.logo_con ul.zixun li{ width:19%; float:left;border-top:2px solid #f1f1f1; border-right:2px solid #f1f1f1; line-height:40px;}
.logo_con ul.zixun li.zx_li{ border-right:none;}
.logo_con ul.zixun li a{ color:#1b1b1f;}
.yx_img{ width:100%; min-height:50px; height:auto; overflow:hidden; text-align:center; background:#f1f1f1;}
.yx_img img{width:90%; margin:15px auto;}
.yx_img1{ width:100%; height:75px;}
/*个人中心*/
.gr_top{ width:100%; height:100px; background:url(../images/dbg.png) no-repeat; background-size:100% 100%; position: relative;}
.gr_top .gr_ber{width:100%;}
.gr_top .gr_ber .gr_left{float:left;margin-right: 10px;}
.gr_top .gr_ber .gr_left img{width:60px; height:60px; margin-top:30px; margin-left:17px;border-radius:30%;}
.gr_top .gr_sz{ width:25px; height:25px; position:absolute; right:16px; top:30px;}
.gr_top .gr_sz img{ width:100%;}
.gr_top .gr_ber .gr_right{ width:62%; float:left; padding:30px 0 0 0;}
.gr_top .gr_ber .gr_right p{ font-size:1.1rem; color:#1b1b1f;}
.gr_top .gr_ber .gr_right .gr_btn{ width:100%; margin-top:15px;}
.gr_top .gr_ber .gr_right .gr_btn a{ padding:5px 10px; background:rgba(255,255,255,0.55); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; color:#1b1b1f; margin:10px 10px 0 0;}
.gr_top .gr_ber .gr_right .gr_btn a.a_left{ padding:5px 30px;}
.gr_xx{ width:100%; min-height:50px; height:auto; overflow:hidden; margin-top:10px; margin-bottom:10px;}
.gr_xx ul{text-align:center; position:relative;}
.gr_xx a.a_img{ width:10px; float:left; position:absolute; top:50px; right:10px;}
.gr_xx a.a_img img{ width:100%;}
.gr_xx ul li{ width:19.4%; float:left; position:relative;}
.gr_xx ul li span{ font-size: 0.5rem;background:#ff0000; padding:2px 8px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; color:#fff; top:0px; position:absolute; right:5px;}
.gr_xx ul li img{ width:35px; }
.gr_xx ul li a{ color:#1b1b1f; font-size:0.9rem;}
@media screen and (max-width: 359px) {.gr_xx ul li a{ color:#1b1b1f; font-size:0.8rem;}}
.gr_xx1{ width:100%;min-height:50px; height:auto; overflow:hidden;margin-top:10px;margin-bottom:10px;}
.gr_xx1 ul{ width:100%; position:relative; text-align:center;}
.gr_xx1 ul li{ width:19.4%; float:left;font-size: 0.9rem;}
@media screen and (max-width: 359px) {.gr_xx1 ul li{ width:19.4%; float:left;font-size: 0.8rem;}}
.gr_xx1 ul li img{ width:60%;}
.gr_xx1 ul li p{ line-height:35px;}
.gr_xx1 a.xx_img{width:10px; float:left; position:absolute; top:50px; right:10px; }
.gr_xx1 a.xx_img img{ width:100%;}
.gr_xx1 ul li a{ color:#1b1b1f;}
.gr_t{width:100%; min-height:50px; height:auto; overflow: hidden; margin:15px auto;}
.gr_t ul{ width:100%; text-align:center;}
.gr_t ul li{ width:33%; float:left;font-size: 0.9rem;}
.gr_t ul li img{ width:35%;}
.gr_t ul li p{ line-height:35px;}
.gr_t ul li a{ color:#1b1b1f;}
.gr_tj{width:100%; background:#f0f2f5; padding:15px 0; text-align:center;height: 30px;}
.gr_tj img{ width:180px;}
.gr_kh{ width:94%; min-height:80px; height:auto; overflow:hidden;background:#f0f2f5; padding:0 3%; padding-bottom:80px;}
.gr_kh .gr_khleft{width:48%; min-height:60px; height:auto; overflow: hidden; float:left; background:#fff; text-align:center; position:relative; padding:50px 0;}
.gr_kh .gr_khleft img{ width:90%;}
.gr_kh .gr_khleft .left_q{ width:100%; height:40px; line-height:40px; background:#153ba6; text-align:center; position:absolute;  bottom:0px;}
.gr_kh .gr_khleft .left_q a{ color:#fff;display:block;}
.gr_kh .gr_khright{width:48%; min-height:60px; height:auto; overflow: hidden;  float:right;background:#fff;text-align:center; position:relative;padding:50px 0;}
.gr_kh .gr_khright img{ width:90%;}
.gr_kh .gr_khright .right_q{ width:100%; height:40px; line-height:40px; background:#df0702; text-align:center; position:absolute;  bottom:0px;}
.gr_kh .gr_khright .right_q a{ color:#fff; display:block;}

.tjzt{width:100%; margin:0 auto;}
.tjzts{height: auto;margin: 0 auto;overflow: hidden;width: 100%;}
.tj_bt{width:80%; text-align:center; position:relative; color:#1b1b1f; margin:0 auto; font-size:1.1rem; font-weight:bold; margin-top:10px;}
.tj_bt .zt_left{ width:20%; border-bottom:1px solid #dddddd; height:1px; position:absolute; left:0px; top:10px;}
.tj_bt .zt_right{ width:20%; border-bottom:1px solid #dddddd; height:1px; position:absolute; right:0px; top:10px;}
@media screen and (max-width: 640px) {.tjzt ul{display: '';}}
@media screen and (min-width: 641px) {.tjzt ul{display: none;} .tjzts {display: none;}}

.tjzt ul li{width:32%; float:left; text-align:center; font-size: 13px; margin-bottom: 8px;}
.tjzt ul li img{ width:100%; margin-top:1px;}
.tjzt ul li a{ color:#1b1b1f;}
.tjzt ul li.tj_li{ margin:0 2%;}
.zttj_list{width:100%; height:auto; overflow:hidden; border-bottom:1px solid #f1f1f1;}
.zttj_list .list_left{ width:68%; float:left;}
.zttj_list .list_left h4{ padding:12px 10px 3px; height:40px;}
.zttj_list .list_left h4 a{ color: #000;-moz-box-flex: 1;-moz-box-orient: vertical;display: -webkit-box;font-size: 16px;font-weight: normal;overflow: hidden;}
.zttj_list .list_left p{ color:#999; font-size:13px; line-height:20px;padding:0px 10px 0px; height:20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.zttj_list .list_right{width:100px; float:right; margin-right:10px;}.zttj_list .list_right img{ width:100px; height:75px; margin-top:15px;}
@media screen and (max-width: 359px) {.zttj_list .list_right{width:90px; float:right; margin-right:5px;}.zttj_list .list_right img{ width:90px; height:67px; margin-top:15px;}}
.zttj_list .zt_p{ width:100%; clear:both; line
30px;}
.zttj_list .zt_p p{ color:#999; font-size:13px; margin-top:5px; float:left; padding-right:5px;}
.zttj_list p img{  float:left; margin-right:5px;}

.zjjr1{ background:#fff;}
.zjjr1 ul.ul_b{ width:100%; float:left;}

.zjjr1 ul.ul_b li{ font-size: 14px;width:23%; height:30px; line-height:30px; float:left; text-align:center; background:#fff;  border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; margin:10px 2% 0 0px;}
.zjjr1 ul.ul_b li a{ color:#000;}
.crumbs{ width:100%; height:42px; line-height:42px; background:#f8f8f8; border-bottom:1px solid #dfdfdf;  border-top:1px solid #dfdfdf;}
.crumbs p{ color:#818181;line-height:42px; float:left; border-left:1px solid #d4d4d4; padding-left:8px; padding-right:14px; background:url(../images/p.png) no-repeat center right;}
.crumbs img{ float:left; margin-top:-5px; margin-right:10px;}