<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/public.css" rel="stylesheet"/>
    <link href="../css/content.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
  <body>
    <header class="mui-bar mui-bar-nav ss_c">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
      <p class="hede_p">发需求</p>
    </header>
    <div class="mui-content" style="background: #fff;">
      <div class="fxq">
        <div class="fxq_t">
          <div class="fxq_t_t">10秒快速发需求，1小时快速回复</div>
          <div class="fxq_t_b">
            <ul>
              <li><img src="../img/fxq01.png" /><p>提交需求</p></li>
              <li><img src="../img/fxq02.png" /><p>客服联系</p></li>
              <li><img src="../img/fxq03.png" /><p>精准匹配</p></li>
              <li><img src="../img/fxq04.png" /><p>完成付款</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="fxq_z">
        <div class="fxq_z_t">
          <div class="fxq_z_t_l">
              <input name="msgTel" id="msgTel" type="text" placeholder="请输入手机号码" value="" style="border:1px solid #fff; width:100%; height:38px; line-height:38px; color: #000; font-family: '微软雅黑'; font-size:0.9rem ;"/>
          </div>
          <div class="fxq_z_t_r"><input id="msgBtn" type="button" value="免费找服务" style="background:#FE6402; border:1PX solid #FE6402; color:#FFF; width:100%; height:38px; font-family: '微软雅黑';font-size:0.9rem ;"></div>
        </div>
        <div class="fxq_z_b"><span>22133</span>人已经成功解决了需求<br />
        我们会以电话方式联系您，请认准来电：<br /><span style="font-size: 1.1rem;">400-6685-611</span>
        </div>
      </div>
      <div class="fxq_b">
        <div class="fxq_b_l"><img src="../img/er.jpg"></div>
        <div class="fxq_b_r">
          <div class="fxq_b_r_t"><a href="http://www.meijiexia.com/im/s"><img src="../img/fxq05.jpg">在线QQ</a></div>
          <div class="fxq_b_r_t"><a href="tel:400-6685-611"><img src="../img/fxq06.jpg">400热线</a></div>
        </div>
      </div>
    </div>
  </body>
</html>