<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/reg.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
    <body style="background: #fff;">
        <header class="mui-bar mui-bar-nav ss_c">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
            <p class="hede_p">会员登录</p>
        </header>
        <div class="mui-content">
            <div class="ul_li">
                <ul>
                    <li class="hit" style="margin-left: 5%;">账号密码登陆</li>
                    <li>快捷免密登录</li>
                </ul>
                <div class="paness">
                    <div class="panea" style="display: block;">
                        <form action="" id="logForm" method="post">
                        <div class="login_con">
                            <div class="login_cond">
                                <img src="../img/sj.png" />
                                <input type="text" name="tel" id="tel" placeholder="请输入您的手机号" />
                            </div>
                            <div class="login_cona">
                                <img src="../img/mm.png" />
                                <input type="password" name="pwd" id="pwd" placeholder="请输入您的登录密码" />
                            </div>
                        </div>
                        <div class="login_btn">
                            <button type="button" style="font-size: 17px;color:#fff;height:100%;width:100%;background:#ff6401 none repeat scroll 0 0;" data-loading-text="登陆中。。。" class="mui-btn" id="login_submit">登录</button>
                        </div>
                        <p class="login_p">没有账号？
                            <span><a href="javascript:void(0);" class="login_ab" id="leftReg">请先注册</a></span>
                            <a href="javascript:void(0);" class="login_a">忘记密码</a>
                        </p>
                        <div class="login_g">
                            <a href=""><img src="../img/bk.jpg" alt="" /></a>
                        </div>
                        </form>
                    </div>
                    <div class="panea">
                        <div class="login_con">
                            <form action="" id="logFormsms" method="post">
	                            <div class="login_cond">
	                                <img src="../img/sj.png" />
	                                <input type="text" name="sms_tel" id="sms_tel" placeholder="请输入您的手机号" />
	                            </div>
	
	                            <div class="login_cona" style="border-bottom: 1px solid #eee;">
	                                <img src="../img/yzm.png" />
	                                <input type="text" class="lo_in" name="verify" id="verify" placeholder="请输入右侧验证码" />
	                                <div id="verifyChange" style="float: right; margin: 0px 1% 0px 0px;">
	                                    <img id="verifyImg" src="http://m.meijiexia.com/captcha/1499225743.0678.png" style="width: 70px; height: 40px; margin-top: 5px;">
	                                </div>
	                            </div>
	
	                            <div class="login_cona">
	                                <img src="../img/mm.png" />
	                                <input type="text" class="lo_in" name="sms_code" id="sms_code" placeholder="请输入短信验证码" />
	                                <div class="lo_yzm" style="width:100px;"><a href="javascript:void(0);" id="getsms" tid="0">获取验证码</a></div>
	                            </div>
                            </form>
                        </div>
                        <div class="login_btn">
                            <button type="button" style="font-size: 17px;color:#fff;height:100%;width:100%;background:#ff6401 none repeat scroll 0 0;" data-loading-text="登陆中。。。" class="mui-btn" id="sms_submit">登录</button>
                        </div>
                        <p class="login_p">没有账号？<span><a href="javascript:void(0);" class="login_ab">请先注册</a></span><a href="javascript:void(0);" class="login_a">忘记密码</a></p>
                        <div class="login_g">
                            <a href=""><img src="../img/bk.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        	mui.plusReady(function() {
        		mui(document.body).on('tap', '#login_submit', function(){
				  	mui.openWindow({
				    	id:'memberIndex',
				    	url:'member/index.html'
				  	});
				});
        	});
        </script>
    </body>
</html>