<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title></title>
	    <script src="../js/mui.min.js"></script>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link href="../css/common.css" rel="stylesheet"/>
	    <link href="../css/reg.css" rel="stylesheet"/>
	    <script type="text/javascript" charset="utf-8">
	        mui.init();
	    	mui.plusReady(function(){
				var mask = mui.createMask();
				//获取短信验证码 
				document.getElementById('getsms').addEventListener('tap', function() {
					var sms_tel = document.getElementById('tel').value;
					var sms_state = document.getElementById('smstate').value;//状态
					var sms_time_out = 60;
					if (!sms_tel.match(/^(((1[3|4|5|7|8][0-9]{1}))+\d{8})$/)) {
						plus.nativeUI.toast('请输入正确的手机号');
					} else {//获取短信验证码
						if (sms_state == 1) {
							document.getElementById('smstate').value = 0;
							mui.ajax('http://m.meijiexia.com/android/pwdsmscode', {
								data: {
									tel:sms_tel
								},
								dataType: 'json',
								type: 'post',
								timeout: 5000,
								beforeSend: function() {
							        plus.nativeUI.showWaiting('发送中。。。',{background:'#8f8f94',back:'none',loading:{display:'inline'}});
							        mask.show();  
							    },
							    complete: function() {
							        plus.nativeUI.closeWaiting();
							        mask.close();
							    },
								success: function(data) {
									if (data.state == '2') {
										plus.nativeUI.toast('发送频繁，请稍后再试！');
										plus.nativeUI.closeWaiting();
										mask.close();
									} else if (data.state == '5') {
										plus.nativeUI.toast('该手机号不存在！');
										plus.nativeUI.closeWaiting();
										mask.close();	
									} else if (data.state == '4') {
										plus.nativeUI.toast('网络错误，请稍后重试！');
										plus.nativeUI.closeWaiting();
										mask.close();
									} else {
										var id = setInterval(function() {
											if (sms_time_out == 0) {                
							                    clearInterval(id);
							                    document.getElementById('smstate').value = 1;
							                    document.getElementById('getsms').innerHTML="重新发送";
							                    sms_time_out = 60;
							                } else {
							                    sms_time_out--;
							                    document.getElementById('getsms').innerHTML = sms_time_out + "秒";
							                }
										}, 1000);
										plus.nativeUI.toast('短信已发送，请注意查收！');
										plus.nativeUI.closeWaiting();
										mask.close();
									}
								},
								error: function(xhr,type,errorThrown) {
									if (type == 'timeout') {//超时
										plus.nativeUI.toast('服务器超时，请稍后重试！');
										plus.nativeUI.closeWaiting();
										mask.close();
									} else {
										plus.nativeUI.toast('网络错误，请稍后重试！');
										plus.nativeUI.closeWaiting();
										mask.close();
									}
								}
							});
						}	
					}
				});
				//找回密码 
				document.getElementById('pwd_submit').addEventListener('tap', function() {
					var sms_tel = document.getElementById('tel').value;
					var pwd = document.getElementById('pwd').value;
					var sms_code = document.getElementById('sms_code').value;
					
					if (!sms_tel.match(/^(((1[3|4|5|7|8][0-9]{1}))+\d{8})$/)) {
						plus.nativeUI.toast('请输入正确的手机号');
					} else if (pwd.length < 1) {
						plus.nativeUI.toast('请输入您的新密码');	
					} else if (sms_code.length < 6) {
						plus.nativeUI.toast('请输入正确的短信验证码');
					} else {//发送服务器请求
						mui.ajax('http://m.meijiexia.com/android/pwdService', {
							data: {
								tel:sms_tel,
								pwd:pwd,
								code:sms_code
							},
							dataType: 'json',
							type: 'post',
							timeout: 5000,
							beforeSend: function() {
						        plus.nativeUI.showWaiting('提交中。。。',{background:'#8f8f94',back:'none',loading:{display:'inline'}});
						        mask.show();  
						    },
						    complete: function() {
						        plus.nativeUI.closeWaiting();
						        mask.close();
						    },
							success: function(data) {
								if (data.state == 1) {
									plus.nativeUI.toast('密码更新成功！');
									plus.webview.getWebviewById('btnPwd').hide();
									location.reload();
								} else {//登录失败
									plus.nativeUI.toast('短信验证码错误！');
								}
								plus.nativeUI.closeWaiting();
						        	mask.close();
							},
							error: function(xhr,type,errorThrown) {
								if (type == 'timeout') {//超时
									plus.nativeUI.toast('服务器超时，请稍后重试！');
									plus.nativeUI.closeWaiting();
									mask.close();
								} else {
									plus.nativeUI.toast('网络错误，请稍后重试！');
									plus.nativeUI.closeWaiting();
									mask.close();
								}
							}
						});	
					}
				});
		    });
	    </script>
	</head>
    <body>
        <header class="mui-bar mui-bar-nav ss_c">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
            <p class="hede_p">找回密码</p>
        </header>
        <div class="mui-content">
            <div class="ul_li">
                <div class="paness">
                    <div class="panea" style="display: block;">
                        <div class="login_con">
                            <div class="login_cond">
                                <img src="../img/sj.png" />
                                <input type="text" name="tel" id="tel" placeholder="请输入您的手机号" />
                            </div>
                            <div class="login_cond">
                                <img src="../img/mm.png" />
                                <input type="password" name="pwd" id="pwd" placeholder="请输入您的新密码" />
                            </div>
                            <div class="login_cona" style="border-bottom: 1px solid #eee;">
                                <img src="../img/dx.png" />
                                <input type="text" class="lo_in" name="sms_code" id="sms_code" placeholder="请输入短信验证码" />
                                <div class="lo_yzm" style="width:100px;">
                            		<a href="javascript:void(0);" id="getsms">获取验证码</a>
                                </div>
                            </div>
                        </div>
                        <div class="login_btn">
                            <button type="button" style="font-size: 17px;color:#fff;height:100%;width:100%;background:#ff6401 none repeat scroll 0 0;"  class="mui-btn" id="pwd_submit">更新密码</button>
                        </div>
                        <div class="login_g">
                            <a href=""><img src="../img/bk.jpg" alt="" /></a>
                        </div>
                        <input type="hidden" id="smstate" value="1" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>