<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/public.css" rel="stylesheet"/>
    <link href="../css/content.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
    <header class="mui-bar mui-bar-nav ss_c">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
      <div class="head_suosuo">
        <img src="../img/ss.png">
        <form method="get" action="" id="searchForm">
          <input type="text" name="v" id="v" value="" placeholder="关键词或媒体名称" />
        </form>
      </div>
      <div class="ss_righta"><a href="javascript:void(0);" id="searchBtn">搜索</a></div>
    </header>
    <div class="mui-content">
      <div class="sousuo_c">
        <div class="sousuo_ca">
          <ul>
            <li><a href="http://m.meijiexia.com/sousuo-42.html">百度知道</a></li>
            <li><a href="http://m.meijiexia.com/xinwen.html">新闻营销</a></li>
            <li><a href="http://m.meijiexia.com/shuijun-2.html">论坛发贴</a></li>
            <li><a href="http://m.meijiexia.com/sousuo-14.html">百科创建</a></li>
            <li><a href="http://m.meijiexia.com/zonghe-39.html">注册投票</a></li>
            <li><a href="http://m.meijiexia.com/sousuo-28.html">文库创建</a></li>
            <li><a href="http://m.meijiexia.com/shuijun-22.html">知乎问答</a></li>
            <li><a href="http://m.meijiexia.com/zonghe-5.html">稿件撰写</a></li>
            <li><a href="http://m.meijiexia.com/zonghe-55.html">微博投票</a></li>
          </ul>
        </div>
        <div class="ss_ls">
          <p>搜索历史<img src="../img/del.png"></p>
          <div class="ss_lsa">
            <ul>
              <li>
                <img src="http://m.meijiexia.com/statics/new/images/sss.png">
                <a href="http://m.meijiexia.com/keyword?v=百度">百度</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>