<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/index.css" rel="stylesheet" />
	</head>
	<body style="background: #f8f8f8;">
		<div class="mui-content">
		    <div class="index_banner" style="margin-top: 5px;margin-bottom: 0px;">
		        <a href="#">
		            <img src="../../css/new/ad/baike.jpg" title="百度百科 服务费仅需4500元"/>
		        </a>
		    </div>
		    <div class="list_ula">
		    	<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a class="category mui-control-item mui-active" href="#item1mobile" data-wid="tab-top-subpage-1.html">
							360
						</a>
						<a class="category mui-control-item" href="#item2mobile" data-wid="tab-top-subpage-2.html">
							百度
						</a>
						<a class="category mui-control-item" href="#item3mobile" data-wid="tab-top-subpage-3.html">
							今日头条
						</a>
						<a class="category mui-control-item" href="#item4mobile" data-wid="tab-top-subpage-4.html">
							神马
						</a>
						<a class="category mui-control-item" href="#item5mobile" data-wid="tab-top-subpage-5.html">
							搜狗
						</a>
						<a class="category mui-control-item" href="#item6mobile" data-wid="tab-top-subpage-6.html">
							腾讯广点通
						</a>
						<a class="category mui-control-item" href="#item6mobile" data-wid="tab-top-subpage-6.html">
							智慧推
						</a>
						<a class="category mui-control-item" href="#item6mobile" data-wid="tab-top-subpage-6.html">
							新浪
						</a>
					</div>
				</div>
		        <!--<div style="height: 48px;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" data-scroll="1">
		            <div class="mui-scroll" style="transform: translate3d(0px, 0px, 0px) translateZ(0px); transition-duration: 0ms;">
		                <a href="http://m.meijiexia.com/guanggao?cate=3" style="line-height: 47px;" class="mui-control-item">
		                    360                        
		                </a>
		                <a href="http://m.meijiexia.com/guanggao?cate=4" style="line-height: 47px;" class="mui-control-item">
		            		百度                        
		                </a>
		                <a href="http://m.meijiexia.com/guanggao?cate=11" style="line-height: 47px;" class="mui-control-item">
		                	今日头条
		                </a>
		                <a href="http://m.meijiexia.com/guanggao?cate=7" style="line-height: 47px;" class="mui-control-item">
		                	神马
		                </a>
		                <a href="http://m.meijiexia.com/guanggao?cate=8" style="line-height: 47px;" class="mui-control-item">
		                  	搜狗
		                </a>
		            	<a href="http://m.meijiexia.com/guanggao?cate=9" style="line-height: 47px;" class="mui-control-item">
		                	腾讯广点通
		            	</a>
		        		<a href="http://m.meijiexia.com/guanggao?cate=10" style="line-height: 47px;" class="mui-control-item">
		                	智慧推
		        		</a>
		                <a href="http://m.meijiexia.com/guanggao?cate=12" style="line-height: 47px;" class="mui-control-item">
		                	新浪
		                </a>
		            </div>
		        </div>-->
		    </div>
		    <div class="list_li" id="loaddata">
		        <ul>
                    <li class="u_li"><a href="http://m.meijiexia.com/zonghe?cate=3" style="color:#fe6401;">综合</a></li>
                	<li>
	                    <a href="http://m.meijiexia.com/zonghe?cate=3&amp;sort=sort_price_desc" style="position: relative;">
	                        <p class="liss_p" style="margin-bottom: 0px;">价格</p>
	                        <div class="li_d">
	                            <img style="width:8px;" src="http://m.meijiexia.com/statics/new/images/list_a.jpg"><br>
	                            <img style="width:8px;" src="http://m.meijiexia.com/statics/new/images/list_b.jpg">
	                        </div>
	                    </a>
                	</li>
                	<li><a href="http://m.meijiexia.com/zonghe?cate=3&amp;sort=sort_time_desc">时间</a></li>
                </ul>
		        <div id="list_content">
                    <div class="index_tcp">
	                    <a href="http://m.meijiexia.com/guanggao-11.html">
	                    <img style="width:80px;" alt="新浪微博粉丝通开户/新浪微博推广(预存5000元起)" title="新浪微博粉丝通开户/新浪微博推广(预存5000元起)" src="http://img.meijiexia.com/proimg/201701/20170109066591.jpg">
	                    </a>
	                    <div class="index_tcpr">
	                        <p class="t_p"><a href="http://m.meijiexia.com/guanggao-11.html">新浪微博粉丝通开户/新浪微博推广(预存5000元起)</a></p>
	                        <div class="t_pp">
	                            <p>¥5000.00元</p>
	                        </div>
	                    </div>
	                    <div class="checkboxborderm" tid="0" tab="adspro" pid="11"></div>
                    </div>
                </div>
                <div class="dropload-down">
                	<div class="dropload-refresh">↑上拉加载更多</div>
                </div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
					
			});
		</script>
	</body>
</html>