<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/index.css" rel="stylesheet" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			var categories = '';
	  		var pageNumber = 1;
	  		var categoryId = 0;
	  		var overallTable = 'overall';
			var uid = 0;
			var loadType = 1;
			var added = 1;
	  		var deleted = 2;
			
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						height:50,
						auto:false,
						contentrefresh : "正在加载...",
						contentnomore:'上拉刷新',
						callback: pullupRefresh
					}
				}
			});
			
			function loadCategoryItems(categoryId) {
				mui.ajax('http://m.meijiexia.com/android/loaddata', {
					data:{
						p: pageNumber,
						cate: 5,
						tab: overallTable,
						uid: uid
					},
					dataType:'json',
					type:'post',
					success:loadCategoryItemsSuccess,
					error:function(xhr, type, errorThrown){
						console.log(JSON.stringify(errorThrown));
					}
				});
			}
			
			function loadCategoryItemsSuccess(result) {
				console.log(JSON.stringify(result));
				if (result) {
					var categoryItems = result.list;
					if (categoryItems) {
						var content = '';
						var divListCategoryItems = document.getElementById('divListCategoryItems');
						
						for (var categoryItemCounter = 0; categoryItemCounter < categoryItems.length; categoryItemCounter++) {
							content += "<div class=\"index_tcp\">";
							content += "<a href=\""+categoryItems[categoryItemCounter].url+"\">";
							content += "<img style=\"width:80px;\" alt=\""+categoryItems[categoryItemCounter].title+"\" title=\""+categoryItems[categoryItemCounter].title+"\" src=\""+categoryItems[categoryItemCounter].imgurl+"\" />";
							content += "</a>";
							content += "<div class=\"index_tcpr\">";
							content += "<p class=\"t_p\"><a href=\"\">"+categoryItems[categoryItemCounter].title+"</a></p>";
							content += "<div class=\"t_pp\">";
							content += "<p>¥"+categoryItems[categoryItemCounter].price+"元</p>";
							content += "</div>";
							content += "</div>";
							content += "<div class=\"addToCart checkboxborderm"+(categoryItems[categoryItemCounter].show ? "Ck" : "")+"\" tid=\""+categoryItems[categoryItemCounter].show+"\" tab=\"searpro\" pid=\""+categoryItems[categoryItemCounter].id+"\"></div>";
							content += "</div>";
						}
						
						switch (loadType) {
							case 1:
								divListCategoryItems.innerHTML = content;
								break;
							case 2:
								mui('#pullrefresh').pullRefresh().endPulldown();
								divListCategoryItems.innerHTML = divListCategoryItems.innerHTML + content;
								break;
							case 3:
								mui('#pullrefresh').pullRefresh().endPullup();
								if (pageNumber == 3) {
									mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
								}
								divListCategoryItems.innerHTML = divListCategoryItems.innerHTML + content;
								break;
							default:
						}
					}
				}
			}
			
			function pulldownRefresh() {
				pageNumber++;
				loadType = 2;
				loadCategoryItems(categoryId);
			}
			
			function pullupRefresh() {
				pageNumber++;
				loadType = 3;
				loadCategoryItems(categoryId);
			}
			
			function loadCart(uid, pid, status, table) {
				mui.ajax('http://m.meijiexia.com/android/cart_add', {
					data:{
						pid: pid,
						state: status,
						tab: table,
						uid: uid
					},
					dataType: 'json',
					type: 'post',
					success: loadCartSuccess,
					error: function(xhr, type, errorThrown) {
						console.log(JSON.stringify(errorThrown));
					}
				});
			}
			
			function loadCartSuccess(result) {
				
			}
		</script>
	</head>
	<body style="background: #f8f8f8;">
		<div id="pullrefresh" class="mui-content">
		    <div class="index_banner" style="margin-top: 5px;margin-bottom: 0px;">
		        <a href="#">
		            <img src="../../css/new/ad/baike.jpg" title="百度百科 服务费仅需4500元"/>
		        </a>
		    </div>
		    <div class="list_li" id="loaddata">
		        <ul>
                    <li class="u_li category" data-category-id="0"><a href="http://m.meijiexia.com/zonghe?cate=3" style="color:#fe6401;">综合</a></li>
                	<li>
	                    <a href="http://m.meijiexia.com/zonghe?cate=3&amp;sort=sort_price_desc" style="position: relative;">
	                        <p class="liss_p" style="margin-bottom: 0px;">价格</p>
	                        <div class="li_d">
	                            <img style="width:8px;" src="http://m.meijiexia.com/statics/new/images/list_a.jpg"><br>
	                            <img style="width:8px;" src="http://m.meijiexia.com/statics/new/images/list_b.jpg">
	                        </div>
	                    </a>
                	</li>
                	<li><a href="http://m.meijiexia.com/zonghe?cate=3&amp;sort=sort_time_desc">时间</a></li>
                </ul>
		        <div id="divListCategoryItems">
                    
                </div>
                <!--<div class="dropload-down">
                	<div class="dropload-refresh">↑上拉加载更多</div>
                </div>-->
			</div>
		</div>
		<script type="text/javascript">
			mui.plusReady(function() {
				var uid = plus.storage.getItem('uid');
				loadCategoryItems(categoryId);
				
				mui(document.body).on('tap', ".category", function() {
	  				pageNumber = 1;
	  				loadType = 1;
	  				categoryId = this.getAttribute('data-category-id');
	  				loadCategoryItems(categoryId);
	  			});
	  			
	  			mui(document.body).on("tap", ".index_tcpr", function() {
					mui.openWindow({
						url: '../details.html',
					    id: 'details.html',
					    show: {
					      event:'titleUpdate'
					    },
					    waiting:{
					      	autoShow:true,//自动显示等待框，默认为true
					      	title:'正在加载...',//等待对话框上显示的提示内容
					      	options:{
				      			background:'#8f8f94',
					        	loading:{display:'inline'}
					      	}
					    },
					    extras:{
					    	name:this.children[0].getAttribute('href')
					    }
					});
  				});
  				
  				mui(document.body).on('tap', '.addToCart', function() {
  					var pid = this.getAttribute('pid');
  					console.log(pid);
  					if (this.getAttribute('tid') == 0) {
  						this.className = "addToCart checkboxbordermCk";
						this.setAttribute('tid', '1');
						loadCart(uid, pid, added, overallTable);
  					} else {
  						this.className = "addToCart checkboxborderm";
						this.setAttribute('tid', '0');
						loadCart(uid, pid, deleted, overallTable);
  					}
  					
  					var marketingTemplate = mui.preload({
					    url:'views/template/marketing.html',
					    id:'templateMarketing.html'
					});
					
					mui.fire(marketingTemplate, 'templateRefreshCart', null);
  				});
			});
		</script>
	</body>
</html>