<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/new/zimeiti.css" rel="stylesheet" />
	</head>
	<body style="background: #f8f8f8;">
		<div id="pullrefresh" class="mui-content" >
		    <div class="index_banner" style="margin-top: 5px;margin-bottom: 0px;">
		        <a href="#">
		            <img src="../../css/new/ad/baike.jpg" title="百度百科 服务费仅需4500元"/>
		        </a>
		    </div>
		    <div class="list_ula">
		        <div style="height: 48px;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		            <div class="mui-scroll" style="width:100%;">
		              <a data-category-id="http://m.meijiexia.com/android/loadmedia" href="javascript:void(0);" class="category mui-control-item mui-active" style="line-height: 47px;width:33.3%;">
		                  	微信营销
		              </a>
		              <a data-category-id="http://m.meijiexia.com/android/loadweibo" href="javascript:void(0);" class="category mui-control-item" style="line-height: 47px;width:33.3%;">
		                  	微博营销
		              </a>
		            </div>
		        </div>
		    </div>
		    <div class="list_li" id="loaddata">
		        <ul>		            
	                <li class="u_li"><a href="" style="color:#fe6401;">综合</a></li>
	                <li>
	                    <a href="" style="position: relative;">
	                        <p class="liss_p" style="margin-bottom: 0px;">粉丝</p>
	                        <div class="li_d">
	                            <img style="width:8px;" src="../../css/new/images/list_a.jpg"><br/>
	                            <img style="width:8px;" src="../../css/new/images/list_b.jpg">
	                        </div>
	                    </a>
	                </li>
	                <li><a href="">时间</a></li>
		            <li class="sx_li">
		              	<a href="javascript:void(0);">
		                	<p id="sxZimei" class="ll_p" style="margin-bottom: 0px;">
		                		筛选
		                		<img class="li_img" src="../../css/new/images/list_s.jpg" />
		                	</p>
		              	</a>
		            </li>
		        </ul>
		        <div id="list_content">
		            <table id="divListCategoryItems" width="100%" border="0" id="li_table">
	              		<!--<tr style="border-bottom: none;">
			                <td width="90px" style="text-align: center;"><img src="http://img.meijiexia.com/prologo/20170516074223.jpg" style="border-radius:50px;width:75px;"></td>
			                <td>
			                  	<p class="ta_bt" style="overflow: hidden;height:20px;margin-bottom: 3px;">一个人听 </p>
			                  	<p class="ta_bta" style="margin-bottom: 3px;">粉丝数：314万</p>
			                  	<button id="showMenhu_640" class="mui-btn mui-btn-block btn_state" tid="640" type="button" style="font-size: 14px;width:88px;padding: 5px;height:25px;margin-bottom:0px;line-height: 17px;">
                                  	<span id="showType_640">软广头条</span>
			                      	<span class="mui-icon mui-icon-arrowdown" style="margin-left:-3px;"></span>
			                  	</button>
			                  	<input type="hidden" id="wzarr_640" class="wzarr_btn" value="[{&quot;value&quot;:&quot;three&quot;,&quot;text&quot;:&quot;\u8f6f\u5e7f\u5934\u6761&quot;},{&quot;value&quot;:&quot;four&quot;,&quot;text&quot;:&quot;\u8f6f\u5e7f\u975e\u5934\u6761&quot;}]">
			                </td>
			                <td width="10%">
                              	<input type="hidden" id="goods_640" value="three">
                              	<div class="checkboxborderm checkbox_btn" style="margin-right: 50%;" tid="0" tab="wxpro" pid="640"></div>
                            </td>
		              	</tr>
		              	<tr>
			                <td colspan="3">
			                  	<ul class="table_ul" style="height:45px;">
			                    	<li style="height:20px;">
			                      		<p class="p_tap"><span>软</span>头条</p>
                                      	<p class="p_tapa">￥360150.00</p>
			                        </li>
				                    <li style="height:20px;">
				                      	<p class="p_tap"><span>软</span>非头条</p>
	                                  	<p class="p_tapa">￥144150.00</p>
				                    </li>
				                    <li style="height:20px;">
				                      	<p class="p_tab"><span>硬</span>头条</p>
	                                  	<p class="p_tapa" style="color: red;">不接单</p>
				                    </li>
				                    <li style="height:20px;">
				                      	<p class="p_tab"><span>硬</span>非头条</p>
				                        <p class="p_tapa" style="color: red;">不接单</p>
	                              	</li>
		                  		</ul>
			                </td>
		              	</tr>-->
		            </table>
		        </div>
		        <!--<div class="dropload-down"><div class="dropload-refresh">↑上拉加载更多</div></div>-->
		    </div>
		    <div id="sheet" class="mui-popover mui-popover-bottom mui-popover-action ">
		    <!-- 可选择菜单 -->
			    <ul class="mui-table-view">
			      <li class="mui-table-view-cell topnews">
			        <a href="javascript:void(0);">软广头条</a>
			      </li>
			      <li class="mui-table-view-cell topnews">
			        <a href="javascript:void(0);">软广非头条</a>
			      </li>
			    </ul>
			    <!-- 取消菜单 -->
			    <ul class="mui-table-view">
			      <li class="mui-table-view-cell">
			        <a href="#sheet"><b>取消</b></a>
			      </li>
			    </ul>
			</div>
			<div id="divWeiboPopup" class="mui-popover mui-popover-bottom mui-popover-action ">
		    <!-- 可选择菜单 -->
			    <ul class="mui-table-view">
			      <li class="mui-table-view-cell weiboTopnewsType">
			        <a href="javascript:void(0);">硬广转发</a>
			      </li>
			      <li class="mui-table-view-cell weiboTopnewsType">
			        <a href="javascript:void(0);">硬广直发</a>
			      </li>
			      <li class="mui-table-view-cell weiboTopnewsType">
			        <a href="javascript:void(0);">软广转发</a>
			      </li>
			      <li class="mui-table-view-cell weiboTopnewsType">
			        <a href="javascript:void(0);">软广直发</a>
			      </li>
			    </ul>
			    <!-- 取消菜单 -->
			    <ul class="mui-table-view">
			      <li class="mui-table-view-cell">
			        <a href="#divWeiboPopup"><b>取消</b></a>
			      </li>
			    </ul>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			var url = 'http://m.meijiexia.com/android/loadmedia';
			var categories = '';
	  		var pageNumber = 1;
	  		var categoryId = 0;
	  		var overallTable = 'news_media';
			var uid = 0;
			var loadType = 1;
			
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style:'circle',
						auto: false,
						callback: pulldownRefresh
					},
					up: {
						height:50,
						auto:false,
						contentrefresh : "正在加载...",
						contentnomore:'上拉刷新',
						callback: pullupRefresh
					}
				}
			});
			
			function loadCategoryItems(categoryId) {
				mui.ajax(url, {
					data:{
						p: pageNumber,
//						cate: categoryId,
//						tab: overallTable,
//						uid: uid
					},
					dataType:'json',
					type:'post',
					success:loadCategoryItemsSuccess,
					error:function(xhr, type, errorThrown){
						console.log(JSON.stringify(errorThrown));
					}
				});
			}
			
			function loadCategoryItemsSuccess(result) {
				if (result) {
					var categoryItems = result.list;
					if (categoryItems) {
						var content = '';
						var divListCategoryItems = document.getElementById('divListCategoryItems');
						
						if (url == "http://m.meijiexia.com/android/loadmedia") {
							for (var categoryItemCounter = 0; categoryItemCounter < categoryItems.length; categoryItemCounter++) {
								content += "<tr style=\"border-bottom:none;\">";
								content += "<td width=\"90px\" style=\"text-align: center;\">";
								content += "<img src=\""+categoryItems[categoryItemCounter].imgurl+"\" style=\"border-radius:50px;width:75px;\">";
								content += "</td>";
								content += "<td>";
								content += "<p class=\"ta_bt\" style=\"overflow:hidden; height:20px; margin-bottom:3px\">"+categoryItems[categoryItemCounter].title+"</p>";
								content += "<p class=\"ta_bta\" style=\"margin-bottom:3px;\">粉丝数："+categoryItems[categoryItemCounter].fans+"万</p>";
								content += "<button id=\"showMenhu_640\" class=\"mui-btn mui-btn-block btn_state\" tid=\"640\" type=\"button\" style=\"font-size:14px; width:88px; padding:5px; height:25px; margin-bottom:0px; line-height:17px;\">";
								content += "<span id=\"showType_640\" class=\"softTopNews\">"+categoryItems[categoryItemCounter].p+"</span>";
								content += "<span class=\"mui-icon mui-icon-arrowdown softTopNewsArrow\" style=\"margin-left:-3px;\"></span>";							
								content += "</button>";
								content += "<input type=\"hidden\" id=\"wzarr_640\" class=\"wzarr_btn\" value=\"\">";
								content += "</td>";
								content += "<td width=\"10%\">";
								content += "<input type=\"hidden\" id=\"goods_640\" value=\"three\">";
								content += "<div class=\"checkboxborderm"+(categoryItems[categoryItemCounter].show ? "Ck" : "")+" checkbox_btn\" style=\"margin-right:50%;\" tid=\""+categoryItems[categoryItemCounter].show+"\" tab=\"wxpro\" pid=\"640\"></div>";
								content += "</td>";
								content += "</tr>";
								content += "<tr>";
								content += "<td colspan=\"3\">";
								content += "<ul class=\"table_ul\" style=\"height:45px;\">";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tap\"><span>软</span>头条</p>";
								content += categoryItems[categoryItemCounter].show_three;
								content += "</li>";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tap\"><span>软</span>非头条</p>";
								content += categoryItems[categoryItemCounter].show_four;
								content += "</li>";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tab\"><span>硬</span>头条</p>";
								content += categoryItems[categoryItemCounter].show_one;
								content += "</li>";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tab\"><span>硬</span>非头条</p>";
								content += categoryItems[categoryItemCounter].show_two;
								content += "</li>";
								content += "</ul>";
								content += "</td>";
								content += "</tr>";
							}
						}
						
						if (url == "http://m.meijiexia.com/android/loadweibo") {
							for (var categoryItemCounter = 0; categoryItemCounter < categoryItems.length; categoryItemCounter++) {
								content += "<tr style=\"border-bottom:none;\">";
								content += "<td width=\"90px\" style=\"text-align: center;\">";
								content += "<img src=\""+categoryItems[categoryItemCounter].imgurl+"\" style=\"border-radius:50px;width:75px;\">";
								content += "</td>";
								content += "<td>";
								content += "<p class=\"ta_bt\" style=\"overflow:hidden; height:20px; margin-bottom:3px\">"+categoryItems[categoryItemCounter].title+"</p>";
								content += "<p class=\"ta_bta\" style=\"margin-bottom:3px;\">粉丝数："+categoryItems[categoryItemCounter].fans+"万</p>";
								content += "<button id=\"showMenhu_640\" class=\"mui-btn mui-btn-block btn_state\" tid=\"640\" type=\"button\" style=\"font-size:14px; width:88px; padding:5px; height:25px; margin-bottom:0px; line-height:17px;\">";
								content += "<span id=\"spnWeiboPopup\">"+categoryItems[categoryItemCounter].p+"</span>";
								content += "<span class=\"mui-icon mui-icon-arrowdown\" style=\"margin-left:-3px;\"></span>";							
								content += "</button>";
								content += "<input type=\"hidden\" id=\"wzarr_640\" class=\"wzarr_btn\" value=\"\">";
								content += "</td>";
								content += "<td width=\"10%\">";
								content += "<input type=\"hidden\" id=\"goods_640\" value=\"three\">";
								content += "<div class=\"checkboxborderm"+(categoryItems[categoryItemCounter].show ? "Ck" : "")+" checkbox_btn\" style=\"margin-right:50%;\" tid=\""+categoryItems[categoryItemCounter].show+"\" tab=\"wxpro\" pid=\"640\"></div>";
								content += "</td>";
								content += "</tr>";
								content += "<tr>";
								content += "<td colspan=\"3\">";
								content += "<ul class=\"table_ul\" style=\"height:45px;\">";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tap\"><span>软</span>转发</p>";
								content += categoryItems[categoryItemCounter].show_three;
								content += "</li>";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tap\"><span>软</span>直发</p>";
								content += categoryItems[categoryItemCounter].show_four;
								content += "</li>";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tab\"><span>硬</span>转发</p>";
								content += categoryItems[categoryItemCounter].show_one;
								content += "</li>";
								content += "<li style=\"height:20px;\">";
								content += "<p class=\"p_tab\"><span>硬</span>直发</p>";
								content += categoryItems[categoryItemCounter].show_two;
								content += "</li>";
								content += "</ul>";
								content += "</td>";
								content += "</tr>";
							}
						}
						
						switch (loadType) {
							case 1:
								divListCategoryItems.innerHTML = content;
								break;
							case 2:
								mui('#pullrefresh').pullRefresh().endPulldown();
								divListCategoryItems.innerHTML = divListCategoryItems.innerHTML + content;
								break;
							case 3:
								mui('#pullrefresh').pullRefresh().endPullup();
								if (pageNumber == 3) {
									mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
								}
								divListCategoryItems.innerHTML = divListCategoryItems.innerHTML + content;
								break;
							default:
						}
					}
				}
			}
			
			function pulldownRefresh() {
				pageNumber++;
				loadType = 2;
				loadCategoryItems(categoryId);
			}
			
			function pullupRefresh() {
				pageNumber++;
				loadType = 3;
				loadCategoryItems(categoryId);
			}
			
			mui.plusReady(function() {
//				mui('#sheet').popover('hide');
//				var mask = mui.createMask(function() {});
//				mask.show();
//				mask.close();
				
				loadCategoryItems(0);
				
				mui(document.body).on('tap', ".category", function() {
					pageNumber = 1;
	  				loadType = 1;
	  				url = this.getAttribute('data-category-id');
	  				loadCategoryItems(0);
	  			});
	  			
	  			mui(document.body).on("tap", ".index_tcpr", function() {
					mui.openWindow({
						url: '../details.html',
					    id: 'details.html',
					    show: {
					      event:'titleUpdate'
					    },
					    waiting:{
					      	autoShow:true,//自动显示等待框，默认为true
					      	title:'正在加载...',//等待对话框上显示的提示内容
					      	options:{
				      			background:'#8f8f94',
					        	loading:{display:'inline'}
					      	}
					    },
					    extras:{
					    	name:this.children[0].getAttribute('href')
					    }
					});
  				});
  				
  				mui(document.body).on('tap', '.softTopNews,.softTopNewsArrow', function() {
					mui('#sheet').popover('show');
  				});
  				
  				mui(document.body).on('tap', '.topnews', function() {
  					var topNewsType = document.getElementById('showType_640');
  					topNewsType.innerHTML = this.children[0].innerHTML;
  					mui('#sheet').popover('hide');
  				});
  				
  				mui(document.body).on('tap', '#spnWeiboPopup', function() {
  					mui('#divWeiboPopup').popover('show');
  				});
  				
  				mui(document.body).on('tap', '.weiboTopnewsType', function() {
  					var topNewsType = document.getElementById('spnWeiboPopup');
  					topNewsType.innerHTML = this.children[0].innerHTML;
  					mui('#divWeiboPopup').popover('hide');
  				});
  				
  				mui(document.body).on('tap', '.addToCart', function() {
  					var marketingTemplate = mui.preload({
					    url:'views/template/marketing.html',
					    id:'templateMarketing.html',
					    styles:{
					        popGesture:"hide"
					    }
					});
  					
					mui.fire(marketingTemplate, "updateCart");
  				});
			});
		</script>
	</body>
</html>