<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/new/zimeiti.css" rel="stylesheet" />
	</head>
	<body style="background: #f8f8f8;">
		<div class="mui-content" >
		    <div class="index_banner" style="margin-top: 5px;margin-bottom: 0px;">
		        <a href="#">
		            <img src="../../css/new/ad/baike.jpg" title="百度百科 服务费仅需4500元"/>
		        </a>
		    </div>
		    <div class="list_ula">
		        <div style="height: 48px;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		            <div class="mui-scroll" style="width:100%;">
		              <a href="" style="line-height: 47px;width:33.3%;" class="mui-control-item mui-active">
		                  	微信营销
		              </a>
		              <a href="" style="line-height: 47px;width:33.3%;" class="mui-control-item ">
		                  	朋友圈营销
		              </a>
		              <a href="" style="line-height: 47px;width:33.3%;" class="mui-control-item">
		                  	微博营销
		              </a>
		            </div>
		        </div>
		    </div>
		    <div class="list_li" id="loaddata">
		        <ul>		            
	                <li class="u_li"><a href="" style="color:#fe6401;">综合</a></li>
	                <li>
	                    <a href="" style="position: relative;">
	                        <p class="liss_p" style="margin-bottom: 0px;">粉丝</p>
	                        <div class="li_d">
	                            <img style="width:8px;" src="../../css/new/images/list_a.jpg"><br/>
	                            <img style="width:8px;" src="../../css/new/images/list_b.jpg">
	                        </div>
	                    </a>
	                </li>
	                <li><a href="">时间</a></li>
		            <li class="sx_li">
		              	<a href="javascript:void(0);">
		                	<p id="sxZimei" class="ll_p" style="margin-bottom: 0px;">
		                		筛选
		                		<img class="li_img" src="../../css/new/images/list_s.jpg" />
		                	</p>
		              	</a>
		            </li>
		        </ul>
		        <div id="list_content">
		            <table class="li_table" width="100%" border="0" id="li_table">
	              		<tr style="border-bottom: none;">
			                <td width="90px" style="text-align: center;"><img src="http://img.meijiexia.com/prologo/20170516074223.jpg" style="border-radius:50px;width:75px;"></td>
			                <td>
			                  	<p class="ta_bt" style="overflow: hidden;height:20px;margin-bottom: 3px;">一个人听 </p>
			                  	<p class="ta_bta" style="margin-bottom: 3px;">粉丝数：314万</p>
			                  	<button id="showMenhu_640" class="mui-btn mui-btn-block btn_state" tid="640" type="button" style="font-size: 14px;width:88px;padding: 5px;height:25px;margin-bottom:0px;line-height: 17px;">
                                  	<span id="showType_640">软广头条</span>
			                      	<span class="mui-icon mui-icon-arrowdown" style="margin-left:-3px;"></span>
			                  	</button>
			                  	<input type="hidden" id="wzarr_640" class="wzarr_btn" value="[{&quot;value&quot;:&quot;three&quot;,&quot;text&quot;:&quot;\u8f6f\u5e7f\u5934\u6761&quot;},{&quot;value&quot;:&quot;four&quot;,&quot;text&quot;:&quot;\u8f6f\u5e7f\u975e\u5934\u6761&quot;}]">
			                </td>
			                <td width="10%">
                              	<input type="hidden" id="goods_640" value="three">
                              	<div class="checkboxborderm checkbox_btn" style="margin-right: 50%;" tid="0" tab="wxpro" pid="640"></div>
                            </td>
		              	</tr>
		              	<tr>
			                <td colspan="3">
			                  	<ul class="table_ul" style="height:45px;">
			                    	<li style="height:20px;">
			                      		<p class="p_tap"><span>软</span>头条</p>
                                      	<p class="p_tapa">￥360150.00</p>
			                        </li>
				                    <li style="height:20px;">
				                      	<p class="p_tap"><span>软</span>非头条</p>
	                                  	<p class="p_tapa">￥144150.00</p>
				                    </li>
				                    <li style="height:20px;">
				                      	<p class="p_tab"><span>硬</span>头条</p>
	                                  	<p class="p_tapa" style="color: red;">不接单</p>
				                    </li>
				                    <li style="height:20px;">
				                      	<p class="p_tab"><span>硬</span>非头条</p>
				                        <p class="p_tapa" style="color: red;">不接单</p>
	                              	</li>
		                  		</ul>
			                </td>
		              	</tr>
		            </table>
		        </div>
		        <div class="dropload-down"><div class="dropload-refresh">↑上拉加载更多</div></div>
		    </div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>
</html>