<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/new/public.css" rel="stylesheet" />
		<link href="../../css/new/zimeiti.css" rel="stylesheet"/>
	</head>
	<body style="background: #f8f8f8;">
		<div id="pullrefresh" class="mui-content">
		    <div class="index_banner" style="margin-top: 5px;margin-bottom: 0px;">
		        <a href="#">
		            <img src="../../css/new/ad/baike.jpg" title="百度百科 服务费仅需4500元"/>
		        </a>
		    </div>
		    <div class="list_ula">
		        <div style="height: 48px;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		            <div class="mui-scroll" style="width:100%;">
		              	<a href="" style="line-height: 47px;width:33.3%;" class="mui-control-item mui-active">
		                  	新闻媒体
		              	</a>
			            <a href="" style="line-height: 47px;width:33.3%;" class="mui-control-item">
	                  		频道首页
			            </a>
		              	<a href="" style="line-height: 47px;width:33.3%;" class="mui-control-item ">
	                  		新闻自媒体
		              	</a>
		            </div>
		        </div>
		    </div>
		    <div class="list_li" id="loaddata">
		        <ul>		            
	                <li class="u_li"><a href="" style="color:#fe6401;">综合</a></li>
	                <li>
	                    <a href="" style="position: relative;">
	                        <p class="liss_p" style="margin-bottom: 0px;">价格</p>
	                        <div class="li_d">
	                            <img style="width:8px;" src="../../css/new/images/list_a.jpg"><br/>
	                            <img style="width:8px;" src="../../css/new/images/list_b.jpg">
	                        </div>
	                    </a>
	                </li>
	                <li><a href="">时间</a></li>
		            <li class="sx_li">
		              	<a href="javascript:void(0);">
		                	<p id="sxZimei" class="ll_p" style="margin-bottom: 0px;">
		                		筛选
		                		<img class="li_img" src="../../css/new/images/list_s.jpg" />
		                	</p>
		              	</a>
		            </li>
		        </ul>
		        <div id="list_content">
		            <div class="index_tcp">
                    	<a href="http://m.meijiexia.com/xinwen-2369.html">
                    		<img style="width:80px;" alt="环球网时尚" title="环球网时尚" src="http://img.meijiexia.com/prologo/20170706349627.png">
                    	</a>
                    	<div class="index_tcpr">
                        	<p class="t_p" style="height:20px;margin-bottom: 0px;">
	                          	<a href="http://m.meijiexia.com/xinwen-2369.html">
	                        		环球网时尚                          
	                          	</a>
                        	</p>
	                        <p style="height:40px;margin-bottom: 0px;font-size: 12px;overflow: hidden;padding-left: 5px">
	                    		[须知]                        
	                        </p>
	                        <div class="t_pp" style="margin-top:0px;">
	                            <p>¥140.00元</p>
	                        </div>
                    	</div>
                    	<div class="checkboxborderm" tid="0" tab="newspro" pid="2369"></div>
                    </div>
		        </div>
		        <!--<div class="dropload-down"><div class="dropload-refresh">↑上拉加载更多</div></div>-->
		    </div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style:'circle',
						callback: pulldownRefresh
					},
					up: {
						auto:false,
						contentrefresh : "正在加载...",
						contentnomore:'没有更多数据了',
						callback: pullupRefresh
					}
				}
			});
			
			function pulldownRefresh() {
				mui('#pullrefresh').pullRefresh().endPulldown();	
			}
			
			function pullupRefresh() {
				mui('#pullrefresh').pullRefresh().endPullup();
			}
			
			mui.plusReady(function() {
				
			});
		</script>
	</body>
</html>