*{padding:0; margin: 0;}
li{ list-style: none;}
a{ text-decoration: none; color: #333;}
body{ font-family: "微软雅黑"; font-size: 1.0rem; background: #fff;}
input, button, select, textarea { outline: none;}
textarea {resize: none;}
.ss_c{ height: 50px; color: #ff6401; text-align: center; line-height: 50px;}
p.hede_p{ text-align: center; color: #ff6401; font-size: 1.1rem;}
.ss_right{ float: right; position: absolute; top: 6px; right: 15px;}
.ss_right img{width:25px;}
.header{width:100%;  background: #fff; padding: 15px;  border-bottom: 1px solid #e5e5e5;}
.index_fh{width:100%; height: 50px; background: #fff; margin: 10px auto; line-height: 50px; margin-bottom: 0px;}
.index_fhl{width:50%; float: left; color: #e5e5e5;font-size: 13px;}
.index_fhl a{ padding: 0 5%; color: #666;}
.index_fhl img{width:15px; float: right; margin: 17px 5% 0 2%;}
.index_fhl p{ text-align: right; font-size: 13px;margin-bottom: 0px;}
.index_fhl p a{padding: 0;}
.index_foot{width:100%;  height: auto; overflow: hidden; margin-bottom: 46px;background-color: #efeff4;}
.index_footcon{width:90%; margin: 10px auto;}
.index_footcon ul li{width:33%; float: left; text-align: center;}
.index_footcon ul li img{width:35px;}
.index_footcon ul li p{ line-height: 30px; color: #333; font-size: 12px;}
.index_footcon ul li p a{color: #333; font-size: 12px;}
.p_foot{ text-align: center; color: #999; font-size: 12px;}
.foot{width:100%; height: 46px; position: fixed; bottom: 0; background: #fff; border-top: 1px solid #e5e5e5;z-index: 9999;}
.foot ul li{width:20%; float: left; text-align: center;position: relative;}
.foot ul li img{width:25px; margin-top: 2px;}
.foot ul li p{ font-size: 12px; color: #666; line-height: 11px;}
.foot ul li p.foot_p{ color: #ff6401;}
.foot ul li span{position: absolute; top: 0; margin-left: 6px;}
.member{
	display: none;
	width: 30%;
	min-height: 80px;
	background: rgba(0,0,0,0.6);
	border-radius: 10px;
	position: absolute;
	right:10px;
	top:60px;
	z-index: 1000;
}
.member ul{
	width:84%;
	margin:0px 8%;
}
.member ul li{
	line-height: 40px;
	font-size: 1.0rem;
	text-align: center;
}
.member ul li a{
	color:#fff ;
}
/*交易流程样式*/
.jylc{width:95%; min-height:100px; height:auto; overflow: hidden; background: #f8f8f8; margin: 0 auto;}
.jylc p{ line-height: 60px; color: #000; font-size: 1rem;}
.jylc .jylc_con{width:100%; text-align: center; min-height: 120px; height: auto;  position: relative; border-top: 1px solid #e5e5e5; margin-top: 10px;}
.jylc .jylc_con img{width:35px;margin-top: 5px;}
.jylc .jylc_con ul{width:100%; position: absolute; top: -25px;}
.jylc .jylc_con ul li{width:15%; float: left; text-align: center; margin-right: 6%;}
.jylc .jylc_con ul li p{ font-size: 0.8rem; line-height: 25px;}
.head_suosuo{width:80%; height: 35px; line-height: 35px; margin-top: 8px; float: left; margin-left: 2%; text-align: left; background: #fff; border: 1px solid #e5e5e5; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.ss_righta{ float: right; position: absolute; line-height: 35px; right: 4%; top: 8px; font-size: 0.9rem;}
.head_suosuo img{width:15px; margin-left: 2%; float: left; margin-top: 10px; margin-right: 2%;}
.head_suosuo input{width:80%; float: left; height: 35px; line-height: 35px; font-size: 0.9rem; color: #000; margin: 0; padding: 0; background: none; border: none;}
.sousuo_c{width:100%; min-height: 100px; height: auto; overflow: hidden;}
.sousuo_c .sousuo_ca{width:100%; min-height: 120px; height: auto; overflow: hidden; background: #fff; margin-top: 20px;}
.sousuo_c .sousuo_ca ul li{ padding: 2px 15px; background: #f8f8f8; float: left; margin: 10px 5px 0 10px;}
.sousuo_c .sousuo_ca ul li a{ font-size: 0.9rem; color: #000;}
.ss_ls{width:100%; min-height: 150px; height: auto; overflow: hidden; background: #fff; margin-top: 15px;}
.ss_ls p{ padding: 15px 2.5% ; color: #000; font-size: 1.0rem; border-bottom: 1px solid #e5e5e5; margin: 0; }
.ss_ls p img{width:25px; float: right;}
.ss_lsa{width:100%; min-height: 100px; height: auto; overflow: hidden; margin: 0 auto;}
.ss_lsa  li{width:100%; height: 45px; line-height: 45px; color: #999; font-size: 0.9rem; padding: 0 2.5%; float: left; border-bottom: 1px solid #e5e5e5; }
.ss_lsa  li img{width:20px; float: left; margin-top: 15px; margin-right: 15px;}
.ss_lsa  li a{ color: #999;}
.dropload-down{text-align: center;height: 40px;line-height: 40px;}