<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>我的收益 - 媒介匣-中国领先的互联网营销资源与服务交易平台！</title>
	    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
	    <link href="../../css/mui.min.css" rel="stylesheet" />
	    <link href="../../css/new/member.css" rel="stylesheet"/>
	    <script src="../../js/mui.min.js"></script>
	    <script type="text/javascript" charset="utf-8">
	        mui.init();
	    </script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss_c">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
			<p class="hede_p">推广返利</p>
			<div class="ss_right"><a href="javascript:void(0);"><img style="width:20px;" src="../../css/new/images/mine.png" /></a></div>	
		</header>
		<div class="mui-content">
			<div class="tui">
				<ul class="fanli">
					<li class="hit"><a href="http://[::1]/m/member/profit">收益</a></li>
					<li><a href="http://[::1]/m/member/buddy_friend">推广好友</a></li>
					<li><a href="http://[::1]/m/member/buddy_order">好友订单</a></li>
					<li><a href="http://[::1]/m/member/record">记录</a></li>
				</ul>
				<div class="paness">
					<div class="panea" style="display: block;">
						<div class="tui_t">可提现金额:<span>0.00元</span></div>
						<div class="tui_b">
							<div class="tui_b_l"><a href="http://[::1]/m/member/withdraw">资金提现</a></div>
							<div class="tui_b_r"><a href="http://[::1]/m/member/exchange">资金转余额</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>