<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/help.css" rel="stylesheet"/>
		<link href="../../css/dropload.css" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss_c">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
		    <p class="hede_p">浏览记录</p>
		</header>
		<div class="mui-content">
			<ul class="liulan_ul">
				<li class="other">其他类</li>
			    <li><a href="http://m.meijiexia.com/member/keep?t=1">媒体类</a></li>
			</ul>
			<div class="loadlist" style="margin-bottom:80px;">
				<table class="table_w" width="100%" border="0">
					<tbody class="zlist">
						<tr>
                        	<td id="del_search_48">
              					<a href="http://m.meijiexia.com/sousuo-48.html"><img alt="百度商标认证/百度认证/百度信誉认证/百度加v认证/(2000元/年)" title="百度商标认证/百度认证/百度信誉认证/百度加v认证/(2000元/年)" src="http://img.meijiexia.com/proimg/201701/20170105033982.jpg"></a>
                      			<div class="div_td">
            						<p>
                                  		<a href="http://m.meijiexia.com/sousuo-48.html">百度商标认证/百度认证/百度信誉认证/百度加v认证/(2000元/年)</a>
                              		</p>
            						<div class="td_p">
                						<div class="td_pleft">
                                            <p>¥2000.00<br><span>普通价:￥2000.00</span></p>
                                        </div>
                  						<div class="td_pright">
                                            <input type="checkbox" name="keepcheck" tid="search_48">
                                                                
                  						</div>
                					</div>
            					</div>
          					</td>
                            <td id="del_reputation_22">
              					<a href="http://m.meijiexia.com/shuijun-22.html"><img alt="知乎问答/文章发布/问答营销/口碑营销(350元/50组)" title="知乎问答/文章发布/问答营销/口碑营销(350元/50组)" src="http://img.meijiexia.com/prologo/20170220231253.jpg"></a>
                      			<div class="div_td">
            						<p>
                                  		<a href="http://m.meijiexia.com/shuijun-22.html">知乎问答/文章发布/问答营销/口碑营销(350元/50组)</a>
                              		</p>
                					<div class="td_p">
                						<div class="td_pleft">
                                            <p>¥300.00<br><span>普通价:￥350.00</span></p>
                                        </div>
                  						<div class="td_pright">
                                        	<input type="checkbox" name="keepcheck" tid="reputation_22">                    
                  						</div>
                					</div>
            					</div>
          					</td>
                  		</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>
</html>