<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
        <link href="../../css/mui.min.css" rel="stylesheet" />
	    <link href="../../css/new/public.css" rel="stylesheet"/>
	    <link href="../../css/content.css" rel="stylesheet"/>
	</head>

  	<body>
	    <header class="mui-bar mui-bar-nav ss_c">
	      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
	      <p class="hede_p">咨询</p>
	    </header>
	    <div class="mui-content" style="background: #fff;">
	      	<div class="zixun">
	        	<div class="zixun_t">
	          		<div class="fxq_b_l"><img src="../../img/er.jpg"></div>
          			<div class="fxq_b_r">
	            		<div class="fxq_b_r_t"><img src="../../img/fxq05.jpg">在线QQ</div>
	            		<div class="fxq_b_r_t"><a href="tel:4006-685-611"><img src="../../img/fxq06.jpg">400热线</a></div>
	          		</div>
	        	</div>
	      	</div>
	      	<div class="zixun_b">
	        	<div class="zixun_b_t">
	          		<div class="zixun_b_t_t">给我留言</div>
	          		<div class="zixun_b_t_z">
	            		<div class="zixun_b_t_z_t">
	              			<div class="zixun_b_t_z_t_l"><input name="" id="name" type="text" placeholder="姓名" value="" style="border:1px solid #f8f8f8; width:100%; height:38px;font-family: '微软雅黑'; font-size:0.9rem ; background: #F8F8F8;"/></div>
	              			<div class="zixun_b_t_z_t_r"><input name="" id="tel" type="text" placeholder="电话" value="" style="border:1px solid #f8f8f8; width:100%; height:38px;font-family: '微言软雅黑'; font-size:0.9rem ; background: #F8F8F8;"/></div>
	            		</div>
	            		<div class="zixun_b_t_z_b"><textarea name="" id="liuyan" cols="" rows="4" style="border:1px solid #f8f8f8; width:100%;font-family: '微软雅黑'; font-size:0.9rem ; background: #F8F8F8;" placeholder="留言"></textarea></div>
	          		</div>
	          		<div class="zixun_b_t_b">
	            		<div class="zixun_b_t_b_l">
	              			<input type="button" id="msgGo" value="提交留言" style="background:#FE6402; border:1px solid #FE6402; color:#FFF; width:100%; height:35px; font-family: '微软雅黑';font-size:0.9rem ;">
	            		</div>
	            		<div class="zixun_b_t_b_r">1小时极速回复</div>
	          		</div>
	        	</div>
	      	</div>
	    </div>
  	</body>
  	<script src="../../js/mui.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</html>