<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
	    <link href="../../css/mui.min.css" rel="stylesheet" />
	    <link href="../../css/new/member.css" rel="stylesheet"/>
	    <style type="text/css">
	    	.dropload-down{text-align:center;}
	    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss_c">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
			<p class="hede_p">财务中心</p>
			<div class="ss_right"><a href="http://[::1]/m/member"><img style="width:20px;" src="../../img/mine.png" /></a></div>	
		</header>
		<div class="mui-content">
			<div class="cai">
				<ul id="ulNav">
					<li class="navItem hit" data-page-id="1">消费记录</li>
					<li class="navItem" data-page-id="2">充值记录</li>
					<li class="navItem" data-page-id="3">开发票</li>
				</ul>
				<div class="paness">
					<div data-content-id="first" class="panea" id="divConsumptionHistory" style="display: block;">
						<div class="cai_t">账号余额:<span>149410.00</span></div>
						<div class="cai_b"><a href="http://[::1]/m/member/recharge">充值</a></div>
						<div class="jl_t">
							<table id="tblConsumptionHistory" border="1" cellspacing="0" width="95%" style=" margin:0 auto ; border-collapse: collapse" bordercolor="#E5E5E5" cellpadding="0"> 
								
							</table>
						</div>
					</div>
					<div data-content-id="second" class="panea" id="divTopupHistory">
						<div class="cai_t">账号余额:<span>149410.00</span></div>
						<div class="cai_b"><a href="http://[::1]/m/member/recharge">充值</a></div>
						<div class="cai_biao">
							<table id="tblTopupHistory" border="1" cellspacing="0" width="100%" style="border-collapse: collapse" bordercolor="#E5E5E5" cellpadding="0"> 
								
							</table>
						</div>
					</div>
					<div data-content-id="third" class="panea" id="divInvoice">
						<div class="kai_t">
							<div class="kai_t_l">可开发票金额<span> ¥0.00</span></div>
							<div class="kai_t_r"><a href="">我要开发票</a></div>
						</div>
						<div class="kai_z">
							<div class="kai_z_t">温馨提示</div>
							<div class="kai_z_b">
								1、单次最低可开发票为500元起<br />
								2、一个账户只能用一个专票名称，如需新的专票名称，请申请新的账户消费<br />
								3、申请发票成功后我们将会在三个工作日以内给您开发票<br />
								4、可开专票或普票<br />
								5、开票金额不能超过“可开发票”总金额<br />
								6、如果收票成功后您未确认收票，系统将在一周后默认收票成功
							</div>
						</div>
						<div class="kai_b">
							<div class="kai_b_t">开票历史</div>
							<div class="kai_b_b">
								<table id="tblInvoice" border="1" cellspacing="0" width="100%" bordercolor="#E5E5E5" cellpadding="0"> 
									
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    	var pageId = 1;
    	
    	function showContent() {
    		pageId = Number(pageId);
    		switch(pageId) {
    			case 1:
    				document.getElementById('divConsumptionHistory').style.display = "block";
    				document.getElementById('divTopupHistory').style.display = "none";
    				document.getElementById('divInvoice').style.display = "none";
    				break;
				case 2:
					document.getElementById('divConsumptionHistory').style.display = "none";
    				document.getElementById('divTopupHistory').style.display = "block";
    				document.getElementById('divInvoice').style.display = "none";
					break;
				case 3:
					document.getElementById('divConsumptionHistory').style.display = "none";
    				document.getElementById('divTopupHistory').style.display = "none";
    				document.getElementById('divInvoice').style.display = "block";
					break;
    		}
    	}
    	
    	function loadRelatedPageContent() {
//  		mui.ajax('http://m.meijiexia.com/android/ajax_member_info', {
//				data: {uid:uid},
//				dataType: 'json',
//				type: 'post',
//				timeout: 10000,
//				success: loadRelatedPageContentSuccess,
//				error: function(xhr,type,errorThrown) {
//					plus.nativeUI.toast('服务器超时，请稍后重试！');
//					plus.nativeUI.closeWaiting();
//				}
//			});
			loadRelatedPageContentSuccess();
    	}
    	
    	function loadRelatedPageContentSuccess() {
    		pageId = Number(pageId);
    		switch(pageId) {
    			case 1:
    				var tartgetElement = document.getElementById('tblConsumptionHistory');
    				var content = "";
    				content += "<tr class=\"jl_t_tr\">";
    				content += "<td style=\"width:35%;\">时间</td>";
    				content += "<td>金额</td>";
    				content += "<td>方式</td>";
    				content += "</tr>";
    				
    				content += "<tr class=\"jl_t_td\">";
    				content += "<td style=\"width:35%;\">";
    				content += "2017-07-01";
    				content += "</td>";
    				content += "<td>164.00</td>";
    				content += "<td>余额支付</td>";
    				content += "</tr>";
    				
    				tartgetElement.innerHTML = content;
    				break;
				case 2:
					var targetElement = document.getElementById('tblTopupHistory');
					var content = "";
					content += "<tr class=\"tui_hao_b_tr\">";
					content += "<td>方式</td>";
					content += "<td>金额</td>";
					content += "<td>时间</td>";
					content += "<td>状态</td>";
					content += "</tr>";
					
					targetElement.innerHTML = content;
					break;
				case 3:
					var targetElement = document.getElementById('tblInvoice');
					var content = "";
					
					content += "<tr class=\"jl_t_tr\">";
					content += "<td style=\"width: 35%;\">申请时间</td>";
					content += "<td>金额</td>";
					content += "<td>状态</td>";
					content += "<td>更多</td>";
					content += "</tr>";
					
					content += "<tr class=\"jl_t_td\">";
					content += "<td style=\"width: 35%;\">2017-05-22</td>";
					content += "<td>100.00</td>";
					content += "<td>支付宝</td>";
					content += "<td>";
					content += "<div class=\"login-header\"><a href=\"javascript:void(0);\"><img style=\"width: 18px; padding-top: 4px;\" src=\"../../img/1.png\" /></a></div>";
					content += "<div class=\"login\">";
					content += "<div class=\"login-title\"><span><a href=\"javascript:void(0);\" class=\"close-login\">关闭</a></span></div>";
					content += "<div class=\"login-input-content\">";
					content += "<div class=\"login-input-content_t\">快递公司：顺丰快递公司</div>";
					content += "<div class=\"login-input-content_t\">快递单号：6542318976547890</div>";
					content += "<div class=\"login-input-content_t\">开票时间：2017-05-26</div>";
					content += "</div>";
					content += "</div>";
					content += "<div class=\"login-bg\"></div>";
					content += "</td>";
					content += "</tr>";
					
					targetElement.innerHTML = content;
					break;
				default:
					break;
    		}
    		showContent();
    	}
    
        mui.init();
        mui.plusReady(function() {
        	mui(document.body).on('tap', '.navItem', function() {
        		pageId = this.getAttribute('data-page-id');
        		var navItemInnerHtml = this.innerHTML;
				mui('.navItem').each(function(index, element) {
					if (navItemInnerHtml == element.innerHTML) {
						this.className = "navItem hit";
					} else {
						this.className = "navItem";
					}
				});
				loadRelatedPageContent();
    		});
    		loadRelatedPageContent();
    		showContent();
        });
    </script>
</html>