<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/new/public.css" rel="stylesheet" />
		<link href="../../css/index.css" rel="stylesheet" />
		<link href="../../css/yx_nav.css" rel="stylesheet" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss_c">
      		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
	      	<p class="hede_p">我的媒介匣</p>
	      	<div class="ss_right"><a href=""><img src="" /></a></div> 
	  	</header>
		<div class="mui-content">
			<div class="gr_top">
			  	<div class="gr_ber">
			      	<div class="gr_left"><img src="../../img/tx.png"></div>
			        	<div class="gr_right">
			          	<p>13831169875</p>
			            <div class="gr_btn">
		                	<a href="javascript:void(0);">普通会员
			              	<a id="aTopup" class="a_left" href="javascript:void(0);">充值</a>
			            </div>
			        </div>
			    </div>
			    <div class="gr_sz"><a href="#"><img src="../../img/sz.png"></a></div>
			</div>
			<div class="gr_xx">
			  	<ul>
			      	<li><a id="aUnpaid" href="javascript:void(0);"><img src="../../img/dfk.png"><br />待付款</a><!--<span>2</span>--></li>
			        <li style="width:22%;"><a id="aWaitForUploading" href=""><img src="../../img/tjxx.png"><br />待提交信息</a></li>
			        <li><a id="aInProcessing" href=""><img src="../../img/zxorder.png"><br />执行中</a></li>
			        <li><a id="aFinish" href=""><img src="../../img/dpj.png"><br />已完成</a></li>
			        <li><a id="aOrder" href=""><img src="../../img/wdorder.png"><br />我的订单</a></li>
			    </ul>
			</div>
			<div style="background:#f0f2f5; height:10px; width:100%; clear:both;"></div>
			<div class="gr_xx1">
			  	<ul>
			      	<li><p>¥100</p>余额</li>
			      	<li style="width:22%;"><p>¥200</p><a id="aWithdrawCash" href="<?php echo base_url();?>member/cash">可提现金额</a></li>
			      	<li><p>¥300</p>待收奖励</a></li>
			      	<li><p>20</p><a id="aInvitingOrder" href="">邀请订单</li>
			      	<li><a href="###" style="color:#929292;"><img style="height:25px; width: 25px; margin-top: 6px;" src="../../img/yqhy.png"><br />邀请好友</a></li>
			  	</ul>
			</div>
			<div style="background:#f0f2f5; height:10px; width:100%; clear:both;"></div>
			<div class="gr_t">
			  	<ul>
			      	<li><a id="aFavourite" href=""><p>10</p></a>我的收藏</li>
			      	<li><a id="aBrowseHistory" href=""><p>20</p></a>浏览记录</li>
			      	<li><a id="aHelpCenter" href=""><img style="height:30px; width:30px;" src="../../img/help.png"><br />帮助中心</a></li>
			    </ul>
			</div>
			<div class="gr_tj"><img src="../../img/tj.gif"></div>
			<div class="gr_kh">
			    <table class="table_w" width="100%" border="0">
			        <tbody>
			          	<tr>
                      		<!--<td>
                      			<a href="http://m.meijiexia.com/zonghe-22.html"><img style="border-radius:0; margin:0px;" alt="易企秀(免费样例+免费培训+强悍功能包)" title="易企秀(免费样例+免费培训+强悍功能包)" src="http://img.meijiexia.com/prologo/FlPtHA6IlyHJG-rk-SuPs0ZdnjRN_png!580x580_meitu_1.jpg"></a>
              					<div class="div_td">
                					<p><a href="http://m.meijiexia.com/zonghe-22.html">易企秀(免费样例+免费培训+强悍功能包)</a></p>
                  					<div class="td_p">
                    					<div class="td_pleft">
                                            <p>¥3000.00<br><span>普通价:￥3000.00</span></p>
                                      	</div>
                                      	<div class="td_pright">
                        					<input type="checkbox" onclick="addCart(&quot;22&quot;,&quot;glopro&quot;);" id="goods_22">
                      					</div>
                                  	</div>
              					</div>
            				</td>
                          	<td>
                          		<a href="http://m.meijiexia.com/zonghe-17.html"><img style="border-radius:0; margin:0px;" alt="1元凑单专用" title="1元凑单专用" src="http://img.meijiexia.com/prologo/1元特惠.jpg"></a>
              					<div class="div_td">
                					<p><a href="http://m.meijiexia.com/zonghe-17.html">1元凑单专用</a></p>
              						<div class="td_p">
                    					<div class="td_pleft">
                                            <p>¥1.00<br><span>普通价:￥1.00</span></p>
                                      	</div>
                                      	<div class="td_pright">
                        					<input type="checkbox" onclick="addCart(&quot;17&quot;,&quot;glopro&quot;);" id="goods_17">
                      					</div>
                                  	</div>
              					</div>
            				</td>-->
                      	</tr>
			        </tbody>
			    </table>
			</div>
			<footer>
			  	<div class="foot"><a href=""><img src="../../img/home1.png"><br><span style="color:#929292;">首页</span></a></div>
			    <div class="foot"><a href=""><img src="../../css/new/images/find.png"><br><span style="color:#929292;">发现</span></a></div>
			    <div class="foot"><a href=""><img src="../../img/go.png"><br><span style="color:#929292;">购物车</span></a><div class="foot_span"><?php echo $cartNum;?></div></div>
			    <div class="foot"><a href=""><img src="../../img/user_1.png"><br><span style="color:#ff6300;">我的</span></a></div>
			</footer>
		</div>
		<script type="text/javascript">
			mui.plusReady(function() {
				mui(document.body).on('tap', '#aTopup', function(){
				  	mui.openWindow({
				    	id:'topUp',
				    	url:'topup.html'
				  	});
				});
				mui(document.body).on('tap', '#aUnpaid', function(){
				  	mui.openWindow({
				    	id:'unpaid',
				    	url:'unpaid.html'
				  	});
				});
				mui(document.body).on('tap', '#aWaitForUploading', function(){
				  	mui.openWindow({
				    	id:'waitForUploading',
				    	url:'waitforuploading.html'
				  	});
				});
				mui(document.body).on('tap', '#aInProcessing', function(){
				  	mui.openWindow({
				    	id:'inProcessing',
				    	url:'inprocessing.html'
				  	});
				});
				mui(document.body).on('tap', '#aOrder', function(){
				  	mui.openWindow({
				    	id:'order',
				    	url:'order.html'
				  	});
				});
				mui(document.body).on('tap', '#aFinish', function(){
				  	mui.openWindow({
				    	id:'finish',
				    	url:'finish.html'
				  	});
				});
				mui(document.body).on('tap', '#aWithdrawCash', function(){
				  	mui.openWindow({
				    	id:'withdrawCash',
				    	url:'withdrawcash.html'
				  	});
				});
				mui(document.body).on('tap', '#aInvitingOrder', function(){
				  	mui.openWindow({
				    	id:'invitingOrder',
				    	url:'invitingorder.html'
				  	});
				});
				mui(document.body).on('tap', '#aFavourite', function(){
				  	mui.openWindow({
				    	id:'favourite',
				    	url:'favourite.html'
				  	});
				});
				mui(document.body).on('tap', '#aBrowseHistory', function(){
				  	mui.openWindow({
				    	id:'browseHistory',
				    	url:'browsehistory.html'
				  	});
				});
				mui(document.body).on('tap', '#aHelpCenter', function(){
				  	mui.openWindow({
				    	id:'helpCenter',
				    	url:'helpcenter.html'
				  	});
				});
			});
		</script>
	</body>
</html>