<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title></title>
	    <script src="../../js/mui.min.js"></script>
	    <link href="../../css/mui.min.css" rel="stylesheet"/>
	    <link href="../../css/new/member.css" rel="stylesheet"/>
	    <script type="text/javascript" charset="utf-8">
	        mui.init();
	        
	        function get_member_info(uid) {
				mui.ajax('http://m.meijiexia.com/android/ajax_member_info', {
					data: {uid:uid},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					success:function(data) {	
						if (data.grade == 2) {//grade_info
							document.getElementById("grade_info").innerHTML = '白金会员';
						} else if (data.grade == 3) {
							document.getElementById("grade_info").innerHTML = '钻石会员';
						} else if(data.grade == 4) {
							document.getElementById("grade_info").innerHTML = '城市拍档';
						} else {
							document.getElementById("grade_info").innerHTML = '普通会员';
						}
						document.getElementById("keepNum").innerHTML = data.keepnum;
						document.getElementById("noPay").innerHTML = data.nopay;
						document.getElementById("moneyNum").innerHTML = data.money;
						document.getElementById("cashNum").innerHTML = data.cash;
						document.getElementById("userNum").innerHTML = data.userNum;
						document.getElementById("orderNum").innerHTML = data.orderNum;
						document.getElementById("allNum").innerHTML = data.allNum;
					},
					error: function(xhr,type,errorThrown) {
						plus.nativeUI.toast('服务器超时，请稍后重试！');
						plus.nativeUI.closeWaiting();
					}
				});
			}
	        
	    	mui.plusReady(function() {
	    		var tel = plus.storage.getItem('tel');
	    		var uid = plus.storage.getItem('uid');
	    		document.getElementById("user_name").innerHTML = tel;
	    		//获取页面间传值
	    		var self = plus.webview.currentWebview();
				var pageFrom = self.pageFrom;
				
				if (pageFrom == 'login') {//刷新首页面
	                var opener = plus.webview.currentWebview().opener();
	                mui.fire(plus.webview.getWebviewById('HBuilder'), 'indexLoginCk', null);
				} else if (pageFrom == 'reg') {
					var opener = plus.webview.currentWebview().opener();
	                mui.fire(plus.webview.getWebviewById('HBuilder'), 'indexLoginCk', null);
				}
	    		//关闭登录页面
	    		var loginwebView = plus.webview.getWebviewById('btnLogin');
	    		if (loginwebView) {
	    			loginwebView.hide();
	    			loginwebView.close();
	    		}	
	    		var regwebView = plus.webview.getWebviewById('btnReg');
	    		if (regwebView) {
	    			regwebView.hide();
	    			regwebView.close();
	    		}
	    		
	    		get_member_info(uid);
	    		//预加载 账号管理页面
	    		mui.preload({
	      			url:'/views/member/setting.html',
	      			id:'setting'
	      		});
	    		document.getElementById('setting').addEventListener('tap', function() {
	      			mui.openWindow({
					    id:'setting',
				 	});
				});
				
				mui(document.body).on('tap', '#liFollowedProduct', function() {
					mui.openWindow({
						url: 'follow.html',
						id: 'follow.html'
					});
				});
				
				mui(document.body).on('tap', '#liHistory', function() {
					mui.openWindow({
						url: 'history.html',
						id: 'history.html'
					});
				});
				
				mui(document.body).on('tap', '.order', function() {
					var pageId = this.getAttribute('data-page-id');
					mui.openWindow({
						url: 'order.html',
					    id: 'order.html',
					    extras:{
					    	pageId: pageId
					    }
					});
				});
				
				mui(document.body).on('tap', '#liTopUp', function() {
					mui.openWindow({
						url: 'topup.html',
						id: 'topup.html'
					});
				});
				
				mui(document.body).on('tap', '#liFinanceDetail', function() {
					mui.openWindow({
						url: 'financedetail.html',
						id: 'financedetail.html'
					});
				});
				
				mui(document.body).on('tap', '.navBonus', function() {
					var pageId = this.getAttribute('data-page-id');
					mui.openWindow({
						url: 'bonus.html',
					    id: 'bonus.html',
					    extras:{
					    	pageId: pageId
					    }
					});
				});
				
				mui(document.body).on('tap', '#divHelpCenter', function() {
					mui.openWindow({
						url: 'helpCenter.html',
						id: 'helpCenter.html'
					});
				});
				
				mui(document.body).on('tap', '#divContactUs', function() {
					mui.openWindow({
						url: 'contactus.html',
						id: 'contactus.html'
					});
				});
				
				mui(document.body).on('tap', '#aBack', function() {
					var targetTemplate = mui.preload({
					    id:'HBuilder'
					});
					mui.fire(targetTemplate, 'refreshPage', null);
				});
	        });
	    </script>
	</head>
	<body>
	  	<header class="mui-bar mui-bar-nav ss_c">
	      	<a id="aBack" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
	      	<p class="hede_p">我的媒介匣</p>
	      	<div class="ss_right"><a href=""><img src="../../img/home.png" /></a></div> 
	  	</header>
	  	<div class="mui-content">
	  		<div class="user_m">
	    		<img src="../../img/user_1.png" />
	    		<div class="user_ma">
	      			<p class="ma_p" style="font-size: 15px;" id="user_name"></p>
	      			<p class="ma_p ma_pa">
	          			<img src="../../img/zs.png"><span id="grade_info"></span>
	      			</p>
	    		</div>
			    <div class="user_mb">
			      	<a href="javascript:void(0);" id="setting">账号管理<img src="../../img/cen.png"></a>
			    </div>
	  		</div>
	  		<div class="user_gz">
	    		<ul>
			      	<li id="liFollowedProduct">
			        	<span style="font-size: 12px;" id="keepNum">0</span>
			        	<p style="font-size: 12px;"><a href="javascript:void(0);" style="color:#fff;">关注产品</a></p>
			      	</li>
	      			<li id="liHistory" style=" border-left: 1px solid #ff6400;">
				        <span style="font-size: 12px;" id="historyNum">123</span>
				        <p style="font-size: 12px;"><a href="javascript:void(0);" style="color:#fff;">浏览记录</a></p>
	      			</li>
	    		</ul>
	  		</div>
	  		<div class="user_dd">
	    		<div data-page-id="1" class="order user_ddtop">
	    			<p>
	    				我的订单
	    				<a href="javascript:void(0);">
	    					全部订单<img src="../../img/next_r.png">
	    				</a>
					</p>
	    		</div>
    			<ul>
			      	<li data-page-id="2" class="order">
			      		<a href="javascript:void(0);">
			      			<img src="../../img/dfk.png"><br />待付款
			      		</a>
			        	<span class="foot_span mui-badge mui-badge-danger" style="background-color: #ff6401;" id="noPay">0</span>
			      	</li>
      				<li data-page-id="3" class="order">
        				<a href=""><img src="../../img/dtj.png"><br />待提交</a> 
      				</li>
			      	<li data-page-id="4" class="order">
			        	<a href=""><img src="../../img/zxz.png"><br />执行中</a> 
			      	</li>
      				<li data-page-id="5" class="order">
        				<a href=""><img src="../../img/ywc.png"><br />已完成</a> 
      				</li>
    			</ul>
  			</div>
	  		<div class="user_dd">
	    		<div class="user_ddtop"><p>财务中心</p></div>
    			<ul>
      				<li>
      					<a href="javascript:void(0);"><P class="jq_p" style="padding-bottom: 5px;margin-bottom: 0px;" id="moneyNum">￥0</P>余额</a>
      				</li>
      				<li id="liTopUp">
        				<a href="javascript:void(0);"><img src="../../img/cz.png"><br />充值</a> 
      				</li>
      				<li>
        				<a href="javascript:void(0);"><img src="../../img/fp.png"><br />发票</a> 
      				</li>
      				<li id="liFinanceDetail">
        				<a href="javascript:void(0);"><img src="../../img/cwmx.png"><br />财务明细</a> 
      				</li>
    			</ul>
  			</div>
	  		<div class="user_dd">
	    		<div class="user_ddtop"><p>推广返利<a href="javascript:void(0);">邀请好友获5%返利<!--<img src="../../img/next_r.png">--></a></p></div>
	    		<ul id="ulBonus">
	      			<li class="navBonus" data-page-id="1">
	      				<a href="javascript:void(0);"><p class="jq_p" id="cashNum">￥0</p>收益</a>
	      			</li>
	      			<li class="navBonus" data-page-id="2">
	        			<a href="javascript:void(0);"><p class="jq_p" id="userNum">0</p>推广好友</a>
	      			</li>
	      			<li class="navBonus" data-page-id="3">
	        			<a href="javascript:void(0);"><p class="jq_p" id="orderNum">0</p>好友订单</a>
	      			</li>
	      			<li class="navBonus" data-page-id="4">
	        			<a href="javascript:void(0);"><p class="jq_p" id="allNum">0</p>记录</a>
	      			</li>
	    		</ul>
	  		</div>
		  	<ul class="user_h">
		    	<div id="divHelpCenter" class="user_ha">
		      		<a style="display: block;" href="">帮助中心<img src="../../img/next_r.png"></a>
		    	</div>
		    	<div id="divContactUs" class="user_ha">
		      		<a style="display: block;" href="">联系我们<img src="../../img/next_r.png"></a>
		    	</div>
		    	<div class="user_ha" id="loginout">
		      		<a style="display: block;" href="javascript:void(0);">退出登录<img src="../../img/next_r.png"></a>
		    	</div>
		  	</ul>
		</div>
	</body>
</html>