<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/help.css" rel="stylesheet"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss_c">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
		    <p class="hede_p">邀请返利</p>
		</header>
		<div class="mui-content">
			<div class="fanli_bt">
		      	<ul>
                  	<li class="x_fl">邀请返利</li>
		          	<li>好友数(1)</li>
		          	<li>带返利</li>
		          	<li><a href="">已返利</a></li>  
          		</ul>
    		</div>
    		<div class="zx_fl">
    			<p>共返利：0元</p>
    			<div class="zx_flleft"></div>
        		<div class="zx_flright"></div>
    		</div>
    		<img style="width:100%;" src="http://m.meijiexia.com/statics/images/ds.gif">
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>
</html>