<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title></title>
	    <script src="../../js/mui.min.js"></script>
	    <link href="../../css/mui.min.css" rel="stylesheet"/>
	    <link href="../../css/new/member.css" rel="stylesheet"/>
	    <script type="text/javascript" charset="utf-8">
	        function showRelatedPage(pageId) {
	        	var navigation = document.getElementById('ulNavigation');
	        	navigation.children[pageId-1].className = "hit";
	        }
	        
	        mui.init();
	        mui.plusReady(function() {
	        	var lastPageData = plus.webview.currentWebview();
		    	var pageId = lastPageData.pageId;
		    	showRelatedPage(pageId);
	        });
	    </script>
	</head>
	<body>
	  	<header class="mui-bar mui-bar-nav ss_c">
      		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
	      	<p class="hede_p">我的订单</p>
      		<div class="ss_right"><a href=""><img style="width:20px;" src="../../img/mine.png" /></a></div> 
	  	</header>
	  	<div class="mui-content">
	    	<div class="mine_con">
		      	<ul id="ulNavigation">
		        	<li><a href="javascript:void(0);">全部</a></li>
		        	<li><a href="javascript:void(0);">待付款</a></li>
		        	<li><a href="javascript:void(0);">待提交</a></li>
		        	<li><a href="javascript:void(0);">执行中</a></li>
		        	<li><a href="javascript:void(0);">完成</a></li>
		      	</ul>
	      		<div class="panes" id="loaddata">
	      			<div class="pane" style="display:block;" id="list_content">
	      		  		<div class="mine_cona">
    					 	<div class="mine_top">
                          		<a href="http://[::1]/m/guanggao-8.html"><img src="http://img.meijiexia.com/prologo/202.jpg"></a>
				              	<div class="mine_r">
					                <p class="r_p"><a href="http://[::1]/m/guanggao-8.html">腾讯广点通开户/品牌推广/营销产品推广</a></p>
					                <div class="r_pp"><p class="p_k">¥1.00</p>数量:*1</div>
				              	</div>
                      		</div>
	      				</div>
	    			</div>
	    		</div>
	  		</div>
	  	</div>
	</body>
</html>