<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/help.css" rel="stylesheet"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss_c">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999;"></a>
		    <p class="hede_p">可提现金额</p>
		</header>
		<div class="mui-content">
			<form action="http://m.meijiexia.com/service/withdraw" id="datumForm" method="post">
			    <div style="width:100%; height:10px; background:#f4f4f4;"></div>
				<div class="tx_top"><p>可提现金额<br><span style="font-size:2.0rem;">¥2.50</span></p></div>
				<div class="tx_p">
			    	<div class="tx_pleft">支付宝账号</div>
			        <input type="text" placeholder="支付宝账号" name="alipayid" id="alipayid">
			    </div>
			    <div class="tx_p">
			    	<div class="tx_pleft">支付宝姓名</div>
			        <input type="text" placeholder="支付宝姓名" name="alipayname" id="alipayname">
			    </div>
			    <div class="tx_pp">
			    	<div class="tx_pleft">提现金额</div>
			        <input class="left" type="text" placeholder="0.00" name="alipaymoney" id="alipaymoney">
			        <input class="right" type="button" value="全部提现" id="allbtn">
			    </div>
			    <p class="p_con">每月提现一次，每次最低100元</p>
			    <div class="tx_btn">
			    	<input type="button" value="提现" id="btnCash">
			    </div>
			    <input type="hidden" id="allv" value="2.50">
		    </<form>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>
</html>