<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link href="../../css/yx_nav.css" rel="stylesheet" />
	</head>

	<body>
		<div class="mui-content">
			<div class="yx_nav" style="margin-top: 2px;">
			    <ul>
			        <li><a href="http://m.meijiexia.com/xueyuan/"><img src="http://m.meijiexia.com/statics/images/yxdh_1.png" title="媒介匣营销学院" alt="媒介匣营销学院"><br />营销学院</a></li>
			        <li><a href="http://m.meijiexia.com/zhuanti/"><img src="http://m.meijiexia.com/statics/images/yxdh_2.png" alt="媒介匣营销专题" title="媒介匣营销专题"><br />营销专题</a></li>
			        <li><a href="http://m.meijiexia.com/daohang/"><img src="http://m.meijiexia.com/statics/images/yxdh_02.png" alt="媒介匣营销导航" title="媒介匣营销导航"><br />营销导航</a></li>
			        <li><a href="javascript:void(0);"><img src="http://m.meijiexia.com/statics/images/yxdh_03.png" alt="媒介匣新闻中心" title="媒介匣新闻中心"><br />新闻中心</a></li>
			    </ul>
			</div>
			<div style="background:#f1f1f1; width:100%; height:10px;"></div>
			<div class="tjzt">
				<div class="tj_bt">
			    	推荐专题
			    	<div class="zt_left"></div>
			      	<div class="zt_right"></div>
			  	</div>
				<ul style="margin-left: 10px; margin-top: 10px;">
				  	<li style="margin-right:3px;">
			        	<a href="http://m.meijiexia.com/zhuanti/zhuanti-594.html">
                  		<img style="height:75px;" src="http://edu.meijiexia.com/uploadfiles/image/201609/31.jpg">关键词                  </a>
			      	</li>
			      	<li style="margin-right:3px;">
			        	<a href="http://m.meijiexia.com/zhuanti/zhuanti-1368.html">
                      	<img style="height:75px;" src="http://edu.meijiexia.com/uploadfiles/image/201609/84.jpg">营销技巧                  </a>
			      	</li>
			      	<li>
			        	<a href="http://m.meijiexia.com/zhuanti/zhuanti-467.html">
                      	<img style="height:75px;" src="http://edu.meijiexia.com/uploadfiles/image/201609/507.jpg">微博营销                  </a>
			      	</li>
				</ul>
			</div>
			<div class="zjjr">
				<div style="width:90%; float:left;">
			        <ul class="ul_a">
			            <li><a href="http://m.meijiexia.com/zhuanti/zhuanti-363.html">引流方法</a></li>
			            <li><a href="http://m.meijiexia.com/zhuanti/zhuanti-1363.html">大数据</a></li>
			            <li><a href="http://m.meijiexia.com/zhuanti/zhuanti-807.html">直播</a></li>
			            <li><a href="http://m.meijiexia.com/zhuanti/zhuanti-99.html">品牌营销</a></li>
			        </ul>
			        <ul class="display" style="margin-left: 10px; width:100%;">
			            <li><a href="http://m.meijiexia.com/zhuanti/zhuanti-117.html">搜索营销</a></li>
			            <li><a href="http://m.meijiexia.com/zhuanti/zhuanti-285.html">自媒体营销</a></li>
			            <li><a href="http://m.meijiexia.com/zhuanti/zhuanti-457.html">推广</a></li>
			            <li><a href="http://m.meijiexia.com/zhuanti/">更多</a></li>
			        </ul>
			    </div>
			    <div class="zjjr_r">
			    	<p class="ul_p"><a href="javascript:void(0);"><img src="http://m.meijiexia.com/statics/images/x.gif"></a></p>
			    </div>
			</div>
			<div class="loadlist">
  				<div id="showload">
			      	<div class="zttj_list">
			        	<div class="zt_listtop">
			          		<div class="list_left">
			              		<h4><a href="http://m.meijiexia.com/xueyuan/quanan-3459.html">为什么不这样解决原创内容呢？</a></h4>
			 	               	<p>婚纱行业看过来，用这种...</p>
			                	<div class="zt_p">
			                    	<p><img src="http://m.meijiexia.com/statics/images/icon1.jpg"><span>17:38</span></p>
			                    	<p><img src="http://m.meijiexia.com/statics/images/icon4.jpg"><span>10</span></p>
			                	</div>
			            	</div>
			            	<div class="list_right"><a href="http://m.meijiexia.com/xueyuan/quanan-3459.html"><img src="http://edu.meijiexia.com//uploadfiles/20170707/1499420275861132.jpg"></a></div>
			        	</div>
			      	</div>
      			</div>
			</div>
			<div class="yx_img"><img src="http://m.meijiexia.com/statics/images/xy_banner.png" alt=""></div>
			<div class="yx_img1"></div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>