<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/mui.min.css">
		<link href="../../css/new/public.css" rel="stylesheet"/>
    	<link href="../../css/index.css" rel="stylesheet"/>
		<style>
			html,
			body {
				background-color: rgba(255,255,255,0.1);
			}
			.mui-loader {
				position: absolute;
				top: 25%;
				width: 100%;
				height: 60%;
				color: #888;
				font-size: 14px;
				text-align: center;
			}
			.mui-fadein {
				opacity: 1;
			}
			.mui-fadeout {
				opacity: 0;
			}
			@keyframes fadein {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
			@-webkit-keyframes fadein {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
			@keyframes fadeout {
				from {
					opacity: 1;
				}
				to {
					opacity: 0;
				}
			}
			@-webkit-keyframes fadeout {
				from {
					opacity: 1;
				}
				to {
					opacity: 0;
				}
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a id="back" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title"></h1>
		</header>
		<div class="mui-content">加载中...</div>
		<div class="foot" id="mui_foot">
		    <ul>
			    <li id="btnHome">
				    <a href="javascript:void(0)">
			       		<img src="../../img/home.png" />
				      	<p>首页</p>
				    </a>
			    </li>
			    <li id="btnDiscovery">
			      	<a href="javascript:void(0);">
			      		<img style="width:25px;margin-top: 1px;" src="../../img/find.png" />
			      		<p>发现</p>
			      	</a>
			    </li>
			    <li id="btnDemand">
			      	<a href="javascript:void(0);">
			      		<img style="width:35px;margin-top: -10px;" src="../../img/fxq.png" />
			      		<p>发需求</p>
			      	</a>
			    </li>
			    <li id="btnCart">
			      	<a href="javascript:void(0);">
			      		<img src="../../img/cart.png" />
			      		<p>购物车</p>
			      		<span id="cart_num_show" class="foot_span mui-badge mui-badge-danger" style="background-color: #ff6401;">0</span>
			      	</a>
			    </li>
			    <li id="btnMember">
			      	<a href="javascript:void(0);" id="aLogin">
			      		<img style="width:20px;margin-top: 2px;" src="../../img/mine.png" />
			      		<p>我的</p>
			      	</a>
			    </li>
		  	</ul>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript">  
		var titleElem = document.getElementById("title");
		var contentWebview = null,self = null;
		var uid = "";
		
		window.addEventListener("templateRefreshCart", function(e) {
			ajax_cart_num();
		});
		
		window.addEventListener("updateHeader", function(e) {
			var title = e.detail.title;
			var href = e.detail.target;
			var aniShow = e.detail.aniShow;
			
			titleElem.innerHTML = title;
			titleElem.className = "mui-title mui-fadein";
			
			if(mui.os.android&&aniShow&&parseFloat(mui.os.version)>=4.4){
				if(contentWebview==null){
					contentWebview = self.children()[0];
				}
				if (contentWebview.getURL() != href) {
					contentWebview.loadURL(href);
				} else {
					contentWebview.show();
				}
				setTimeout(function () {
					self.show(aniShow);
				},10);
			}
		});
		
		function ajax_cart_num() {//获取购物车数量
    		mui.ajax('http://m.meijiexia.com/android/ajax_cart_num',{
				data: {uid:uid},
				dataType: 'json',
				type: 'post',
				timeout: 10000,
				success: function(data) {
					var str = JSON.stringify(data);
					document.getElementById("cart_num_show").innerHTML = data.num;
				},
				error:function(xhr,type,errorThrown) {
					plus.nativeUI.toast('服务器超时，请稍后重试！');
					plus.nativeUI.closeWaiting();
				}
			});
        }
		
        mui.plusReady(function () {
			self = plus.webview.currentWebview();
			uid = plus.storage.getItem('uid');
			
			if (uid) {
				//获取购物车数量
				ajax_cart_num();
			}
			
			mui(document.body).on('tap', '#btnHome', function() {
				mui.openWindow({url:'../../index.html', id:'btnHome'});
			});
      		
      		mui(document.body).on('tap', '#btnSeach', function() {
      			mui.openWindow({url:'../../views/search.html', id:'btnSeach'});
      		});
			
			mui(document.body).on('tap', '#btnDiscovery', function() {
				var marketingTemplate = mui.preload({
				    url:'../../views/template/marketing.html',
				    id:'templateMarketing.html',
				    styles:{
				        popGesture:"hide"
				    }
				});
				
				var subWebview = mui.preload({
				    url:'',
				    id:'subWebview',
				    styles:{
				        top: '45px',
				    	bottom: '55px'
				    }
				});
				
				marketingTemplate.append(subWebview);
				
      			var self = this;
				var href = '../../views/discovery/index.html';
				var title = '发现';
				
				mui.fire(marketingTemplate, 'updateHeader', {
					title: title,
					href: href
				});
				
				if (subWebview.getURL() == href) {
				    subWebview.show();
				} else {
				    subWebview.loadURL(href);
				    
					subWebview.addEventListener('loaded', function() {
					    setTimeout(function(){
					        subWebview.show();
					    },50);
					});
				}
				
				marketingTemplate.show('slide-in-right', 150);
			});
			
			mui(document.body).on('tap', '#btnDemand', function() {
      			mui.openWindow({url:'../../views/demand.html', id:'btnDemand'});
			});
			
			mui(document.body).on('tap', '#btnCart', function() {
				mui.openWindow({url:'../../views/cart/index.html', id:'btnCard'});
			});
			
			mui(document.body).on('tap', '#btnMember', function() {
				mui.openWindow({url:'../../views/member/index.html', id:'btnMember'});
			});
			
			mui(document.body).on('tap', '#back', function() {
//				var targetWebview = plus.webview.all()[0];
//				console.log(JSON.stringify(plus.webview.all()));
				var targetTemplate = mui.preload({
				    id:'HBuilder'
				});

				mui.fire(targetTemplate, 'refreshCart', null);
			});
		});
		
		mui.back = function() {
			self.hide('auto');
			setTimeout(function() {
				titleElem.className = 'mui-title mui-fadeout';
				titleElem.innerText = '';
				if(contentWebview==null){
					contentWebview = self.children()[0];
				}
				contentWebview.hide("none");
			}, 350);
		}
	</script>

</html>